<div nz-col style="height:100%;margin-left:10px;margin-top:10px;overflow:scroll;">
  <div nz-row nzJustify="space-between">
    <div nzSpan="8">
      <nz-form-label nzSpan="1">年度</nz-form-label>
      <nz-form-control nzSpan="4">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择年度" [(ngModel)]="selectedValue">
          <nz-option nzLabel="2020" nzValue="2020"></nz-option>
          <nz-option nzLabel="2021" nzValue="2021"></nz-option>
        </nz-select>
      </nz-form-control>
    </div>
  </div>
  <div nz-row nzJustify="space-between">
    <div nzSpan="8" nz-col>
      <nz-card>
        <div echarts [options]="option1" (chartClick)="onChartClick('option1')"></div>
      </nz-card>
    </div>
    <div nzSpan="8" nz-col>
      <nz-card>
        <div echarts [options]="option2" (chartClick)="onChartClick('option2')"></div>
      </nz-card>
    </div>
    <div nzSpan="8" nz-col>
      <nz-card>
        <div echarts [options]="option3"></div>
      </nz-card>
    </div>
  </div>
  <div nz-row nzJustify="space-betweent">
    <div nzSpan="24" nz-col>
      <nz-card>
        <div echarts [options]="option4" (chartClick)="onChartClick('option4')"></div>
      </nz-card>
    </div>
    <div nzSpan="24" nz-col>
      <nz-card>
        <div echarts [options]="option5" (chartClick)="onChartClick('option5')"></div>
      </nz-card>
    </div>
  </div>
</div>
<app-statistics-analysis-detail #statisticsAnalysisDeatilComponent [option]="option"></app-statistics-analysis-detail>
