<nz-modal
  [(nzVisible)]="isVisible"
  nzWidth="80%"
  nzHeight="80%"
  nzTitle="The first Modal"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <div *ngIf="option === 'option1' || option === 'option2'" style="height: 600px;">
    <app-rectification-post-list #rectificationPostListComponent></app-rectification-post-list>
  </div>
  <div *ngIf="option === 'option4' || option === 'option5'">
    <app-rectify-issue-list #rectifyIssueListComponent></app-rectify-issue-list>
  </div>
</nz-modal>
