<div class="container">
  <div class="wrapper">
    <app-sys-name></app-sys-name>
    <div nz-row class="login-content" [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="14" nzType="flex" nzJustify="center"
        class="bg-white rounded-md main-window">
        <div nz-row class="second">
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="11" nzXl="9" class="second-right">
            <div class="second-font">
              <span style="font-weight:bold;font-size:1.5rem;">欢迎使用</span>
              <h4>{{systemName}}</h4>
            </div>
            <form nz-form #loginDetailForm="ngForm">
              <nz-form-item>
                <nz-form-control
                  [nzValidateStatus]="account.invalid && (account.dirty || account.touched) ? 'error' : ''"
                  nzHasFeedback>
                  <nz-input-group nzPrefixIcon="anticon anticon-user">
                    <input #account="ngModel" autocomplete="off" nz-input style="height: 38px;"
                      [(ngModel)]="loginDTO.account" name="account" placeholder="用户名" required />
                  </nz-input-group>
                  <nz-form-explain *ngIf="account.dirty && account.errors">
                    请输入用户名！
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control
                  [nzValidateStatus]="password.invalid && (password.dirty || password.touched) ? 'error' : ''"
                  nzHasFeedback>
                  <nz-input-group nzPrefixIcon="anticon anticon-lock">
                    <input #password="ngModel" autocomplete="off" nz-input style="height: 38px;" type="password"
                      [(ngModel)]="loginDTO.password" name="password" placeholder="密码" required />
                  </nz-input-group>
                  <nz-form-explain *ngIf="password.dirty && password.errors"> 请输入密码！ </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control
                  [nzValidateStatus]="userType.invalid && (userType.dirty || userType.touched) ? 'error' : ''"
                  nzHasFeedback>
                  <nz-select nzSize="default" name="userType" #userType="ngModel"
                    [(ngModel)]="loginDTO.userType" nzPlaceHolder="请选择用户类型" required nzSize="large">
                    <nz-option *ngFor="let userType of userTypeList" [nzLabel]="userType.label"
                      [nzValue]="userType.value">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item style="margin-bottom: 10px;">
                <button style="height: 38px;" nz-button (click)="onLogin($event)" nzType="primary" [nzLoading]="loading"
                  nzBlock>
                  登录
                </button>
              </nz-form-item>
              <nz-form-item>
                <label nz-checkbox [(ngModel)]="rememberMe" name="rememberMe">7天内自动登录</label>
              </nz-form-item>
            </form>
          </div>

        </div>
      </div>
    </div>
    <app-copyright></app-copyright>
  </div>
</div>
