<div style="margin:5px; height: 400px;box-shadow: 1px 1px 1px grey;background-color:white ;border-radius: 5px;">
  <div style="height:35px;padding-top: 5px;padding-left: 5px;">
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button nz-button nzType="primary" (click)="save()">
      <span>提交</span>
    </button>
  </div>
  <nz-divider></nz-divider>
  <div style="height: 350px">
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzRequired>内容</nz-form-label>
      <nz-form-control [nzSpan]="20"
        [nzValidateStatus]="replyContent.invalid && (replyContent.dirty || replyContent.touched) ? 'error' : ''">
        <textarea style="height: 60px;" nz-input name="replyContent" [(ngModel)]="rectifyMeasureReply.replyContent"
          #replyContent="ngModel" required></textarea>
        <nz-form-explain *ngIf="replyContent.invalid && (replyContent.dirty || replyContent.touched)">
          内容
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3">附件</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <app-attach-list [show]="true" [(attachFiles)]="systemFiles" #attachListComponent
          [fileType]="'RECTIFY_MEASURE_REPLY_FILE'">
        </app-attach-list>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>