<as-split direction="vertical" unit="pixel" gutterSize="0">
  <as-split-area class="flex-fixed" [size]="40">
    <div nz-row
      style="background-color: white; border:1px solid #a1a0a0;margin: 10px 5px;padding-top: 5px;padding-bottom: 5px;">
      <div nz-col>
        <div style="margin-left: 40px;" nz-row nzJustify="space-between">
          <div nzSpan="5" nz-col>
            <button nz-button nzType="primary" (click)="clickFold()">
              <i nz-icon nzType="up" nzTheme="outline" *ngIf="!isFold"></i>
              <i nz-icon nzType="down" nzTheme="outline" *ngIf="isFold"></i>
            </button>
            <font color="#3399f7"> 整改问题名称</font>
          </div>
          <div nzSpan="2" nz-col>整改反馈进度</div>
          <div nzSpan="6" nz-col>
            <nz-progress nzSize="small" [nzPercent]="50" nzStatus="active"></nz-progress>
          </div>
          <div nzSpan="10" nz-col *ngIf="isRectify">
            <div style="position: absolute;right: 0px;"> &nbsp;
              <button nz-button nzType="primary" (click)="rectifySwitch()">切换问题</button>
            </div>

          </div>
          <div nzSpan="10" nz-col *ngIf="!isRectify">
            <div style="position: absolute;right: 0px;">
              &nbsp;
              <button nz-button nzType="primary">反馈提醒</button>
              <button nz-button nzType="primary" (click)="goRectifyEffect()">整改成效</button>
              <button nz-button nzType="danger" nzDanger (click)="transfer()"
                [disabled]="'已移交'===rectifyTrack.transferStatus">移交纪检</button>
              <button nz-button nzType="primary" (click)="rectifySwitch()">切换问题</button>
              <nz-popconfirm [nzTitle]="confirmtittle" (nzOnConfirm)="onChangeStates(rectifyTrack.id)">
                <ng-template #confirmtittle>
                  <font color='red'>结束整改如果有子问题，那么所有子问题都会结束整改</font>
                  <br />
                  <font color='red'> 确定结束整改？</font>
                </ng-template>
                <button nz-button nzType="primary" nz-popconfirm>结束整改</button>
              </nz-popconfirm>

              <button nz-button nzType="primary"><i nz-icon nzType="exclamation-circle" nzTheme="outline"
                  style='color: red;'></i>延期审批</button>
            </div>
          </div>
        </div>
        <div nz-row style="margin-top:20px" *ngIf="!isFold">
          <form nz-form>
            <nz-form-item>
              <nz-form-label nzSpan="2">整改部门</nz-form-label>
              <nz-form-control nzSpan="5">
                <nz-tree-select [nzNodes]="organizationTree" [nzAllowClear]="true" nzDefaultExpandAll nzShowSearch
                  name="rectifyDepartmentId" [(ngModel)]="rectifyTrack.rectifyDepartment.id"
                  [nzDropdownStyle]="{ maxHeight: '280px' }" disabled>
                </nz-tree-select>
              </nz-form-control>
              <nz-form-control nzSpan="1"></nz-form-control>
              <nz-form-label nzSpan="2">整改负责人</nz-form-label>
              <nz-form-control nzSpan="5">
                <input nz-input readonly name='整改负责人' readonly [(ngModel)]="rectifyTrack.dutyUser.name" />
              </nz-form-control>
              <nz-form-control nzSpan="1"></nz-form-control>
              <nz-form-label nzSpan="2">问题类型</nz-form-label>
              <nz-form-control nzSpan="5">
                <app-dict-select [dictCode]="'PROBLEM_TYPE'" nzAllowClear name="problemType" [disabled]='true'
                  [(ngModel)]="rectifyTrack.type">
                </app-dict-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzSpan="2">整改截止日期</nz-form-label>
              <nz-form-control nzSpan="5">
                <nz-date-picker [(ngModel)]="date" name="rectifyEndTime" disabled></nz-date-picker>
              </nz-form-control>
              <nz-form-control nzSpan="1"></nz-form-control>
              <nz-form-label nzSpan="2">涉及金额</nz-form-label>
              <nz-form-control nzSpan="5">
                <input nz-input readonly name='issueMoney' readonly ngModel="100000" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzSpan="2">审计报告</nz-form-label>
              <nz-form-control nzSpan="21"><input nz-input readonly [(ngModel)]="rectifyTrack.source" name="source" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzSpan="2">问题描述</nz-form-label>
              <nz-form-control nzSpan="21"><textarea rows="3" nz-input readonly [(ngModel)]="rectifyTrack.remark"
                  name="remark"></textarea> </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzSpan="2">审计建议</nz-form-label>
              <nz-form-control nzSpan="21"> <textarea rows="3" nz-input readonly [(ngModel)]="rectifyTrack.advice"
                  name="advice"></textarea></nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="isRectify">
              <nz-form-label nzSpan="2">整改要求</nz-form-label>
              <nz-form-control nzSpan="21"><textarea rows="3" nz-input readonly name="整改要求"></textarea>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-item>
                <nz-form-label nzSpan="2">是否无法整改</nz-form-label>
                <nz-form-control nzSpan="21">
                  <nz-radio-group name="radioValue" [(ngModel)]="radioValue">
                    <label nz-radio [nzValue]="false">否</label>
                    <label nz-radio [nzValue]="true">是</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
            </nz-form-item>
            <div *ngIf="radioValue">
              <nz-form-item>
                <nz-form-label nzSpan="2">无法整改原因</nz-form-label>
                <nz-form-control nzSpan="21"> <textarea rows="3" nz-input name="advice"></textarea></nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzSpan="2">相关附件</nz-form-label>
                <nz-form-control nzSpan="21">
                  <app-attach-list [show]="true" [(attachFiles)]="systemFiles" #attachListComponent
                    [fileType]="'RECTIFY_MEASURE_FILE'">
                  </app-attach-list>
                </nz-form-control>
              </nz-form-item>
            </div>
          </form>
        </div>
      </div>
    </div>
  </as-split-area>

  <as-split-area [size]="'*'">
    <as-split direction="horizontal" unit="percent" [useTransition]="true" gutterSize="2" style="padding: 0 5px;">
      <as-split-area [size]="leftSize" style="background-color: white; padding-top: 5px;">
        <div style="height: 30px; padding-left: 45px; margin-top: 2px;">
          <font style="color:#0000FF; font-size: 18px;">整改跟踪时间轴</font>
        </div>
        <div style="padding: 0 5px;">
          <nz-divider></nz-divider>
        </div>
        <div style="padding-left: 45px;">
          <!-- 整改时间轴 -->
          <app-rectify-time-line #rectifyTimeLineComponent></app-rectify-time-line>
        </div>
      </as-split-area>

      <as-split-area [size]="rightSize">
        <as-split direction="vertical" unit="pixel" gutterSize="0" style="background-color: white; padding-top:5px ;">
          <as-split-area class="flex-fixed" [size]="40">
            <div nz-col>
              <div nz-row>
                <div nz-col nzSpan="20">
                  <button nz-button nzType="link" style="float: inherit;" (click)="hideTimeLine()"><i nz-icon
                      [nzType]="timeLineButtonType" nzTheme="outline"></i></button>
                  <div
                    [ngStyle]="{'padding-left':timeLineButtonType === 'right' ? '45px' : '25px','margin-top': '2px'}">
                    <font style="color:#0000FF; font-size: 18px; text-align: center;" *ngIf="!isRectify">整改反馈情况</font>
                    <font style="color:#0000FF; font-size: 18px; text-align: center;" *ngIf="isRectify">整改详情</font>
                  </div>
                </div>
                <div nz-col nzSpan="3">
                  <div [ngStyle]="{'position': 'absolute','right':timeLineButtonType === 'right' ? '10px' : '20px'}">
                    <button nz-button nzType="primary" (click)="openRectifyDiaryComponent()"
                      *ngIf="!isRectify">工作备忘录</button>

                  </div>
                  <div [ngStyle]="{'position': 'absolute','right':timeLineButtonType === 'right' ? '10px' : '20px'}">
                    <button nz-button nzType="primary" (click)="update()" *ngIf="isRectify">新增措施</button>
                  </div>
                </div>
                <div nz-col nzSpan="1"></div>
              </div>
            </div>
            <div style="padding: 0 5px;">
              <nz-divider></nz-divider>
            </div>
            <div nz-col *ngIf="!isRectify">
              <div nz-row>
                <div nz-col nzSpan="10">
                  <nz-form-item>
                    <nz-form-label nzSpan="6">整改截止时间</nz-form-label>
                    <nz-form-control nzSpan="18">
                      <nz-date-picker [(ngModel)]="rectifyEndTime" (ngModelChange)="onChangeRectifyEndTime($event)">
                      </nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="10">
                  <nz-form-item>
                    <nz-form-label nzSpan="6">整改反馈频率</nz-form-label>
                    <nz-form-control nzSpan="18">
                      <nz-select style="width:50%" nzShowSearch name="day" [(ngModel)]="searchParam.rectifyBackFeedHz"
                        [nzAllowClear]="true"
                        *ngIf="searchParam.rectifyBackFeedHzUnit === 'day' || !searchParam.rectifyBackFeedHzUnit">
                        <nz-option [nzLabel]="item" [nzValue]="item" *ngFor="let item of days"></nz-option>
                      </nz-select>
                      <nz-select style="width:50%" nzShowSearch name="week" [(ngModel)]="searchParam.rectifyBackFeedHz"
                        *ngIf="searchParam.rectifyBackFeedHzUnit === 'week'">
                        <nz-option [nzLabel]="item" [nzValue]="item" *ngFor="let item of weeks"></nz-option>
                      </nz-select>
                      <nz-select style="width:50%" nzShowSearch name="day" [(ngModel)]="searchParam.rectifyBackFeedHz"
                        *ngIf="searchParam.rectifyBackFeedHzUnit === 'month'">
                        <nz-option [nzLabel]="item" [nzValue]="item" *ngFor="let item of months"></nz-option>
                      </nz-select>
                      <nz-select style="width:50%" nzShowSearch name="day" [(ngModel)]="searchParam.rectifyBackFeedHz"
                        *ngIf="searchParam.rectifyBackFeedHzUnit === 'year'">
                        <nz-option [nzLabel]="item" [nzValue]="item" *ngFor="let item of years"></nz-option>
                      </nz-select>
                      <nz-select style="width:50%" [(ngModel)]="searchParam.rectifyBackFeedHzUnit"
                        [nzAllowClear]="true">
                        <nz-option nzValue="day" nzLabel="日"></nz-option>
                        <nz-option nzValue="week" nzLabel="周"></nz-option>
                        <nz-option nzValue="month" nzLabel="月"></nz-option>
                        <nz-option nzValue="year" nzLabel="年"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="3">
                  <div [ngStyle]="{'position': 'absolute','right':timeLineButtonType === 'right' ? '10px' : '20px'}">
                    <button nz-button nzType="primary" (click)="saveProblem()">保存</button>
                  </div>
                </div>
                <div nz-col nzSpan="1"></div>
              </div>
            </div>
          </as-split-area>

          <as-split-area [size]="'*'">
            <div style="height:100%">
              <nz-table #nzTable [nzData]="listOfData" [nzScroll]="{ x: '1500px', y: '240px' }" [nzLoading]="loading"
                [nzTotal]="pageInfo.totalRecords" [nzPageSize]="pageInfo.pageSize" [nzPageIndex]="pageInfo.pageNo"
                [nzSize]="'small'" nzShowSizeChanger [nzShowTotal]="totalTemplate"
                (nzPageSizeChange)="pageSizeChange($event)" (nzPageIndexChange)="pageIndexChange($event)"
                [nzShowQuickJumper]="true" [nzFrontPagination]="false" [nzPageSizeOptions]="[20, 35, 50, 100]"
                nzBordered="true">
                <ng-template #totalTemplate let-total> 共 {{ pageInfo.totalRecords }} 条 </ng-template>
                <thead>
                  <tr>
                    <th nzShowExpand nzWidth="80px">按钮</th>
                    <th nzWidth="90px" [nzAlign]="'center'">措施状态</th>
                    <th>措施类型</th>
                    <th>整改措施</th>
                    <th nzWidth="200px">整改进度</th>
                    <th nzWidth="100px" [nzAlign]="'center'">附件</th>
                    <th nzWidth="200px" [nzAlign]="'center'">拟整改时间</th>
                    <!-- <th nzWidth="140px" [nzAlign]="'center'" *ngIf="!isRectify">整改截止时间</th> -->
                    <th nzWidth="80px" [nzAlign]="'center'">剩余天数</th>
                    <th nzWidth="180px" [nzAlign]="'center'" *ngIf="!isRectify">整改结果</th>
                    <th nzWidth="180px" [nzAlign]="'center'" *ngIf="isRectify">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-template ngFor let-data [ngForOf]="nzTable.data">
                    <tr>
                      <td nzWidth="80px" nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"
                        (nzExpandChange)="changeReadStates(data)">
                        <nz-badge [nzCount]="data.notReadNum" *ngIf="data.notReadNum !== 0">
                          <font style="color:white;">''</font>
                        </nz-badge>
                      </td>
                      <td nzWidth="90px" [nzAlign]="'center'">
                        <nz-tag [nzColor]="'#2db7f5'" *ngIf="data.measureStatus === 'RECTIFY_CENTRE'">整改中</nz-tag>
                        <nz-tag [nzColor]="'#87d068'" *ngIf="data.measureStatus === 'COMPLETED'">已完成</nz-tag>
                        <nz-tag [nzColor]="'#FF4500'" *ngIf="data.measureStatus === 'OVERDUE'">已逾期</nz-tag>
                        <nz-tag [nzColor]="'#808080'" *ngIf="data.measureStatus === 'INVALID'">已失效</nz-tag>
                        <nz-tag [nzColor]="'#D3D3D3'" *ngIf="data.measureStatus === 'NOT_SUBMITTED'&&isRectify">未提交
                        </nz-tag>
                      </td>
                      <td>{{ data.measureType }}</td>
                      <td>{{ data.measureContent }}</td>
                      <td nzWidth="200px">
                        <div style="display: inline-block;width:120px">
                          <nz-progress [nzPercent]="data.rectifyProgress" nzSize="small" [nzShowInfo]="false"
                            [nzStrokeWidth]="10">
                          </nz-progress>
                        </div>
                        <div style="display: inline-block;width: 60px;">&nbsp; {{ data.rectifyProgress }}&nbsp;%</div>
                      </td>
                      <td nzWidth="100px" [nzAlign]="'center'">
                        <button nz-button nzType="link" [disabled]="data.systemFiles.length < 1"
                          (click)="update(data, true, true)">
                          查看文件
                        </button>
                      </td>
                      <td nzWidth="200px" [nzAlign]="'center'">{{ formatDateFun(data.rectifyCompleteTime) }} ~
                        2021-12-12</td>
                      <!-- <td nzWidth="140px" [nzAlign]="'center'" *ngIf="!isRectify">{{ formatDateFun(data.rectifyEndTime)
                        }}</td> -->
                      <td nzWidth="50px" [nzAlign]="'center'">10</td>

                      <td nzWidth="180px" [nzAlign]="'center'">
                        <div *ngIf="!isRectify">
                          <button nz-button nzType="link" [disabled]="data.measureStatus === 'COMPLETED'"
                            (click)="chageRectifyProgress(data.id, null, 'COMPLETED')" style="padding: 0;">
                            整改完成
                          </button>
                          <nz-divider nzType="vertical"></nz-divider>
                          <button nz-button nzType="link" [disabled]="data.measureStatus === 'COMPLETED'"
                            (click)="chageRectifyProgress(data.id, null, 'INVALID')" style="padding: 0;">
                            重新整改
                          </button>
                        </div>
                        <div *ngIf="isRectify">
                          <div *ngIf=" data.measureStatus === 'NOT_SUBMITTED'">
                            <a (click)="update(data)">编辑</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <nz-popconfirm [nzTitle]="confirmtittle" (nzOnConfirm)="delete(data)">
                              <ng-template #confirmtittle>是否要删除该条数据</ng-template>
                              <a nz-popconfirm>删除</a>
                            </nz-popconfirm>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a (click)="chageRectifyProgress(data.id, null, 'RECTIFY_CENTRE')">提交</a>
                          </div>
                          <div *ngIf="data.measureStatus !== 'NOT_SUBMITTED'">
                            <a (click)="watch(data)">查看</a>
                            <nz-divider nzType="vertical" *ngIf="data.measureStatus === 'RECTIFY_CENTRE'">
                            </nz-divider>
                          </div>
                          <div *ngIf="data.measureStatus === 'RECTIFY_CENTRE'">
                            <a (click)="update(data, true, false)">上传</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a (click)="chageRectifyProgress(data.id, null, 'INVALID')">失效</a>
                          </div>
                        </div>

                      </td>
                    </tr>
                    <tr [nzExpand]="mapOfExpandData[data.id]">
                      <td></td>
                      <td colspan="8">
                        <div *ngIf="data.rectifyMeasureReplys && data.rectifyMeasureReplys.length > 0">
                          <div *ngFor="let rectifyMeasureReply of data.rectifyMeasureReplys; let i = index">
                            <div style="color:silver">{{ rectifyMeasureReply.createdTime }}</div>
                            <!-- <div>{{rectifyMeasureReply.roles[0].name}}</div> -->
                            <div style="font-weight: 500;font-size: 18px;">{{ rectifyMeasureReply.replyContent }}</div>
                            <div *ngIf="i === 0">
                              <button nz-button nzType="link" (click)="rectifyMeasureReplyClick(data.id)">回复</button>
                            </div>
                          </div>
                        </div>

                        <div *ngIf="!data.rectifyMeasureReplys || data.rectifyMeasureReplys.length < 1">
                          <div class="gutter-example">
                            <button nz-button nzType="link" (click)="rectifyMeasureReplyClick(data.id)"
                              [disabled]="data.measureStatus === 'NOT_SUBMITTED'">回复</button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </tbody>
              </nz-table>
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>
    </as-split>
  </as-split-area>
</as-split>

<!-- 备忘录 -->
<app-rectify-diary #rectifyDiaryComponent></app-rectify-diary>
<!-- 整改措施 -->
<app-rectify-measure #rectifyMeasureComponent (saveRectifyMeasure)="loadData()"></app-rectify-measure>
<!-- 整改措施回复 -->
<app-rectify-measure-reply #rectifyMeasureReplyComponent (saveRectifyMeasureReply)="loadData()">
</app-rectify-measure-reply>
<!-- 移交纪检 -->
<app-rectify-issue-transfer #rectifyIssueTransferComponent></app-rectify-issue-transfer>
<!-- 整改成效 -->
<app-rectify-effect #rectifyEffectComponent></app-rectify-effect>
<!-- 整改问题切换 -->
<app-rectify-problem-switch #rectifyProblemSwitchComponent (rectifyProblem)="chageRectify($event)">
</app-rectify-problem-switch>