<nz-modal [(nzVisible)]="isVisible" [nzMaskClosable]="false" (nzOnCancel)="handleCancel()"
  [nzFooter]="noticeEditorFooter" nzWidth="80%" [nzTitle]="'切换整改问题'" [nzBodyStyle]="{
    'height': '700px',
    'overflow-y': 'auto',
    'overflow-x': 'hidden',
    padding: '24px 24px 0 24px'
  }">
  <as-split direction="vertical" unit="pixel" gutterSize="0">
    <as-split-area class="flex-fixed" [size]="40">
      <div class="app-toor-bar" style="padding-top: 10px;">
        <!-- 搜索栏 -->
        <form #searchForm="ngForm" nz-form class="matech-search-form">
          <div nz-row [nzGutter]="24" nzType="flex" nzJustify="space-around" nzAlign="middle" class="search-row">
            <div nz-col [nzSpan]="24">
              <div nz-col [nzSpan]="7">
                <nz-form-item>
                  <nz-form-label [nzSm]="7" [nzXs]="24">报告名称</nz-form-label>
                  <nz-form-control [nzSm]="16" [nzXs]="24">
                    <input nz-input name="rectifyProblemName" [(ngModel)]="params.rectifyProblemName" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="7">
                <nz-form-item>
                  <nz-form-label [nzSm]="7" [nzXs]="24">问题类型</nz-form-label>
                  <nz-form-control [nzSm]="16" [nzXs]="24">
                    <app-dict-select dictCode="PROBLEM_TYPE" name="problemTypeSelect" [(ngModel)]="params.problemType"
                      #problemTypeSelect="ngModel"></app-dict-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div nz-col [nzSpan]="7">
                <nz-form-item>
                  <nz-form-label [nzSm]="7" [nzXs]="24">导入报告时间</nz-form-label>
                  <nz-form-control [nzSm]="16" [nzXs]="24">
                    <nz-range-picker name="rangeDate" [nzFormat]="'yyyy-MM-dd'" [(ngModel)]="date"
                      (ngModelChange)="selectDateRange($event)">
                    </nz-range-picker>
                  </nz-form-control>
                </nz-form-item>

              </div>
              <div nz-col [nzSpan]="2" nzOffset="1">
                <button nz-button nzType="primary" style="margin-top: 3px;" (click)="search()">
                  <i nz-icon type="search" theme="outline"></i>查找
                </button>
              </div>
            </div>
          </div>
          <div nz-row [nzGutter]="24" nzType="flex" nzJustify="space-around" nzAlign="middle" class="search-row">
            <div nz-col [nzSpan]="24">
              <div nz-col [nzSpan]="7">
                <nz-form-item>
                  <nz-form-label [nzSm]="7" [nzXs]="24">下发状态</nz-form-label>
                  <nz-form-control [nzSm]="16" [nzXs]="24">
                    <nz-select name="sendStatus" [(ngModel)]="params.sendStatus" style="width: 100%;"
                      nzAllowClear="true" nzShowSearch="true">
                      <nz-option *ngFor="let option of sendStatusList" [nzLabel]="option.label"
                        [nzValue]="option.value">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="7">
                <nz-form-item>
                  <nz-form-label [nzSm]="7" [nzXs]="24">是否已分配</nz-form-label>
                  <nz-form-control [nzSm]="16" [nzXs]="24">
                    <nz-select name="sendStatus" [(ngModel)]="params.selectedValue" style="width: 100%;"
                      nzAllowClear="true" nzShowSearch="true">
                      <nz-option nzLabel="否" nzValue="flase"> </nz-option>
                      <nz-option nzLabel="是" nzValue="true"> </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="7"></div>
              <div nz-col [nzSpan]="2" nzOffset="1">
                <button nz-button (click)="clear()"><i nz-icon type="close" theme="outline"
                    style="margin-top: 3px;"></i>清除</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </as-split-area>
    <as-split-area [size]="'*'">
      <nz-table #expandTable [nzData]="listOfMapData" [nzScroll]="{ x: '1150px', y: '100%' }" [nzLoading]="loading"
        [nzTotal]="pageInfo.totalRecords" [nzPageSize]="pageInfo.pageSize" [nzPageIndex]="pageInfo.pageNo"
        [nzSize]="'small'" nzShowSizeChanger [nzShowTotal]="totalTemplate" (nzPageSizeChange)="pageSizeChange($event)"
        (nzPageIndexChange)="pageIndexChange($event)" [nzShowQuickJumper]="true" [nzFrontPagination]="false"
        [nzPageSizeOptions]="[20, 35, 50, 100]" nzBordered="true" style="height: 100%;">
        <ng-template #totalTemplate let-total> 共 {{ pageInfo.totalRecords }} 条 </ng-template>
        <thead>
          <tr>
            <th nzWidth="50px" nzAlign="center" nzLeft="0px"></th>
            <th nzWidth="120px">序号</th>
            <th nzWidth="100px" nzAlign="center">下发状态</th>
            <th nzWidth="100px" nzAlign="center">移交状态</th>
            <th nzWidth="150px">问题名称</th>
            <th nzWidth="150px">整改部门</th>
            <th nzWidth="150px">整改负责人</th>
            <th nzWidth="150px">已完成整改措施数</th>
            <th nzWidth="150px">整改截止时间</th>
            <th nzWidth="150px">整改拟完成时间</th>
            <th nzWidth="150px">最近一次反馈时间</th>
            <th nzWidth="150px">下一次反馈时间</th>
            <th nzWidth="200px">整改反馈进度</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of expandTable.data; let i = index">
            <ng-container *ngFor="let item of mapOfExpandedData[data.id]; let ci = index">
              <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
                <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[item.id]"
                  (nzCheckedChange)="checked(item,mapOfCheckedId[item.id])" nzLeft="0px"></td>
                <td [nzIndentSize]="item.level * 20" [nzShowExpand]="!!(item.children && item.children.length > 0)"
                  [(nzExpand)]="item.expand" (nzExpandChange)="collapse(mapOfExpandedData[data.id], item, $event)"
                  *ngIf="item.level === 0">
                  {{ item.level === 0 ? i + 1 : i + 1 + '-' + ci }}
                </td>
                <td [nzIndentSize]="item.level * 20" *ngIf="item.level === 1">
                  {{ item.level === 0 ? i + 1 : i + 1 + '-' + ci }}
                </td>
                <td nzAlign="center">
                  <nz-tag *ngIf="item.sendStatus === '未下发'" [nzColor]="'#A4A4A4'">未下发</nz-tag>
                  <nz-tag *ngIf="item.sendStatus === '下发中'" [nzColor]="'#FFBF00'">下发中</nz-tag>
                  <nz-tag *ngIf="item.sendStatus === '已下发'" [nzColor]="'#04B404'">已下发</nz-tag>
                </td>
                <td nzAlign="center">
                  <nz-tag *ngIf="item.transferStatus === '未移交'" [nzColor]="'#A4A4A4'">未移交</nz-tag>
                  <nz-tag *ngIf="item.transferStatus === '移交中'" [nzColor]="'#FFBF00'">移交中</nz-tag>
                  <nz-tag *ngIf="item.transferStatus === '已移交'" [nzColor]="'#04B404'">已移交</nz-tag>
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item?.rectifyDepartment?.name }}</td>
                <td>{{ item?.dutyUser?.name }}</td>
                <td>{{ item.rectifyCount }}</td>
                <td>{{ item.rectifyEndTime }}</td>
                <td>{{ item.lastModifiedTime }}</td>
                <td>{{ item.latelyFeedbackTime }}</td>
                <td>{{ item.nextFeedbackTime }}</td>
                <td>
                  <nz-progress [nzPercent]="item.rectifyPassPercent"></nz-progress>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </nz-table>
    </as-split-area>
  </as-split>


  <ng-template #noticeEditorFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button nz-button nzType="primary" [nzLoading]="loading" (click)="save()">
      确定
    </button>
  </ng-template>
</nz-modal>