<as-split direction="vertical" unit="pixel" gutterSize="0">
  <as-split-area class="flex-fixed" [size]="40">
    <div class="app-toor-bar">
      <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
        <div nz-col nzSpan="24">
          <button nz-button >
            <i nz-icon nzType="rollback"  nzTheme="outline"></i>返回
          </button>
          <button nz-button  nzType="primary"
            >
            <i nz-icon nzType="save" nzTheme="outline"></i>保存</button>
        </div>
      </div>
    </div>
  </as-split-area>
  <as-split-area [size]="'*'">
  
<div style="height:100%;margin-left:10px;margin-top:10px;overflow:scroll;">
  <div nz-col>
    <div nz-row>
      <div nz-col>
        <div nz-row>
          <form nz-form>
            <nz-form-item>
              <nz-form-label nzSpan="2">整改部门</nz-form-label>
              <nz-form-control nzSpan="3"><input nz-input /> </nz-form-control>
              <nz-form-label nzSpan="2">整改负责人</nz-form-label>
              <nz-form-control nzSpan="3"><input nz-input /> </nz-form-control>
              <nz-form-label nzSpan="2">问题类型</nz-form-label>
              <nz-form-control nzSpan="3"><input nz-input /> </nz-form-control>
              <nz-form-label nzSpan="2">整改截止日期</nz-form-label>
              <nz-form-control nzSpan="3"><input nz-input /> </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzSpan="2">问题来源</nz-form-label>
              <nz-form-control nzSpan="18"><textarea rows="3" nz-input></textarea> </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzSpan="2">问题描述</nz-form-label>
              <nz-form-control nzSpan="18"><textarea rows="3" nz-input></textarea> </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzSpan="2">整改详情</nz-form-label>
              <nz-form-control nzSpan="18">
                <nz-table #basicTable [nzData]="listOfData">
                  <thead>
                    <tr>
                      <th>序号</th>
                      <th>措施类型</th>
                      <th>整改措施</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of basicTable.data">
                      <td>{{ data.id }}</td>
                      <td>{{ data.type }}</td>
                      <td>{{ data.measure }}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
      </div>
    </div>

    <div nz-row>
      <form nz-form>
        <nz-form-item>
          <nz-form-label nzSpan="4">审计挽回金额（元）</nz-form-label>
          <nz-form-control nzSpan="6">
            <nz-input-number></nz-input-number>
          </nz-form-control>
          <nz-form-label nzSpan="4">上缴资金（元）</nz-form-label>
          <nz-form-control nzSpan="6">
            <nz-input-number></nz-input-number>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzSpan="4">财务处理资金（元）</nz-form-label>
          <nz-form-control nzSpan="6">
            <nz-input-number></nz-input-number>
          </nz-form-control>
          <nz-form-label nzSpan="4">促进节约资金（元）</nz-form-label>
          <nz-form-control nzSpan="6">
            <nz-input-number></nz-input-number>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzSpan="4">整改提出管理建议（条）</nz-form-label>
          <nz-form-control nzSpan="6">
            <nz-input-number></nz-input-number>
          </nz-form-control>
          <nz-form-label nzSpan="4">违纪违规金额（元）</nz-form-label>
          <nz-form-control nzSpan="6">
            <nz-input-number></nz-input-number>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzSpan="4">整改后完善的制度（条）</nz-form-label>
          <nz-form-control nzSpan="6">
            <nz-input-number></nz-input-number>
          </nz-form-control>
          <nz-form-label nzSpan="4">整改效益提升（元）</nz-form-label>
          <nz-form-control nzSpan="6">
            <nz-input-number></nz-input-number>
          </nz-form-control>
        </nz-form-item>
    
      </form>
    </div>
  </div>
</div>
    
  </as-split-area>
</as-split>





