<nz-collapse [nzBordered]="false">
  <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.title" [nzActive]="panel.active"
    (nzActiveChange)="ActiveChange()">
    <!-- <p>{{ panel.name }}</p> -->
    <div *ngIf="panel.children && panel.children.length > 0">
      <nz-collapse [nzBordered]="false">
        <nz-collapse-panel *ngFor="let children of panel.children" [nzHeader]="children.title"
          [nzActive]="children.active">
          <div *ngIf="!children.children || children.children.length < 1">
            <nz-timeline>
              <nz-timeline-item>审计人员问题下发 2015-09-01</nz-timeline-item>
              <nz-timeline-item nzColor="green">审计人员整改通知书发送到OA 2015-09-01</nz-timeline-item>
              <nz-timeline-item nzColor="red">失效整改措施 2015-09-01</nz-timeline-item>
              <nz-timeline-item nzColor="gray">回复审计人员 2015-09-01</nz-timeline-item>
            </nz-timeline>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
    <div *ngIf="!panel.children || panel.children.length < 1">
      <nz-timeline>
        <nz-timeline-item>审计人员问题下发 2015-09-01</nz-timeline-item>
        <nz-timeline-item nzColor="green">审计人员整改通知书发送到OA 2015-09-01</nz-timeline-item>
        <nz-timeline-item nzColor="red">失效整改措施 2015-09-01</nz-timeline-item>
        <nz-timeline-item nzColor="gray">回复审计人员 2015-09-01</nz-timeline-item>
      </nz-timeline>
    </div>

  </nz-collapse-panel>
</nz-collapse>