<div nz-col  style="overflow:scroll;height:1000px">
  <div nz-row>
    <div nz-col>
      <div nz-row nzJustify="space-between">
        <div nzSpan="10" nz-col>整改问题名称</div>
        <div nzSpan="4" nz-col>整改反馈进度</div>
        <div nzSpan="10" nz-col>
          <button nz-button>反馈提醒</button>
          <button nz-button>整改成效</button>
          <button nz-button>移交纪检</button>
          <button nz-button>切换问题</button>
        </div>
      </div>
      <div nz-row>
        <form nz-form>
          <nz-form-item>
            <nz-form-label nzSpan="2">整改部门</nz-form-label>
            <nz-form-control nzSpan="4"> </nz-form-control>
            <nz-form-label nzSpan="2">整改负责人</nz-form-label>
            <nz-form-control nzSpan="4"> </nz-form-control>
            <nz-form-label nzSpan="2">问题类型</nz-form-label>
            <nz-form-control nzSpan="4"> </nz-form-control>
            <nz-form-label nzSpan="2">整改截止日期</nz-form-label>
            <nz-form-control nzSpan="4"> </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzSpan="2">问题来源</nz-form-label>
            <nz-form-control nzSpan="22"> </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzSpan="2">问题描述</nz-form-label>
            <nz-form-control nzSpan="22"> </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzSpan="2">审计建议</nz-form-label>
            <nz-form-control nzSpan="22"> </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
  </div>
  <div nz-row>
    <div nz-row nzJustify="space-between">
      <div nz-col nzSpan="12">
        <div nz-row>
          <nz-card nzTitle="整改跟踪时间轴">
            <nz-timeline>
              <nz-timeline-item>Create a services site 2015-09-01</nz-timeline-item>
              <nz-timeline-item>Solve initial network problems 2015-09-01</nz-timeline-item>
              <nz-timeline-item>Technical testing 2015-09-01</nz-timeline-item>
              <nz-timeline-item>Network problems being solved 2015-09-01</nz-timeline-item>
            </nz-timeline>
          </nz-card>
        </div>
        <div nz-row>
            <nz-card nzTitle="工作备忘录">
               <textarea rows="">

               </textarea>
              </nz-card>
        </div>
      </div>
      <div nz-col nzSpan="12">
        <div nz-row>三</div>
        <div nz-row>四</div>
      </div>
    </div>
  </div>
</div>
