<st #st [data]="tableData" nzSize="middle" [multiSort]="tableParameter.multiSort" (change)="change($event)"
  [req]="tableParameter.req" [scroll]="{ y: '100%' }" [bordered]="true" [res]="tableParameter.res"
  [total]="tableParameter.page.total" [size]="tableParameter.size" [pi]="tableParameter.pi" [ps]="tableParameter.ps"
  [columns]="columns" [rowClickTime]="500" [page]="tableParameter.page" [noResult]="null" [loading]="loading">
  <ng-template st-row="number" let-row let-index="index">
    {{ ((st.pi ? st.pi : 1) - 1) * (st.ps ? st.ps : 0) + (index + 1) }}
  </ng-template>
  <ng-template st-row="releaseDate" let-row let-index="index">
    {{ row.releaseDate | date: 'yyyy-MM-dd' }}
  </ng-template>
  <ng-template st-row="operations" let-row let-index="index">
    <a (click)="edit(row,false)">编辑</a>
    <nz-divider nzType="vertical"></nz-divider>
    <a (click)="edit(row,true)">查看</a>
    <nz-divider nzType="vertical"></nz-divider>
    <a nz-popconfirm nzPopconfirmTitle="是否要删除该条数据?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(row)">删除</a>
  </ng-template>
</st>
