<nz-modal [(nzVisible)]="isVisible" [nzMaskClosable]="false" (nzOnCancel)="handleCancel()"
  [nzFooter]="noticeEditorFooter" nzWidth="50%"
  [nzTitle]="!currentItem||!currentItem.id?'新增整改汇报':isWatch?'查看整改汇报':'修改整改汇报'" [nzBodyStyle]="{
    'max-height': '600px',
    'min-height': '200px',
    'overflow-y': 'auto',
    'overflow-x': 'hidden',
    padding: '24px'
  }">
  <form nz-form #form=ngForm>
    <nz-form-item>
      <nz-form-label nzSpan="4" nzRequired> 整改汇报名称</nz-form-label>
      <nz-form-control nzSpan="20" [nzValidateStatus]="name.invalid && (name.dirty || name.touched) ? 'error' : ''">
        <input nz-input [readOnly]=" isWatch" #name="ngModel" name="name" placeHolder="请填写整改汇报名称"
          [(ngModel)]="currentItem.name" required />
        <nz-form-explain *ngIf="name.invalid && (name.dirty || name.touched)">
          请填写整改汇报名称
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item
      *ngIf="currentItem&&currentItem.id&&currentItem.reportType==='按审计报告'||currentClickNode&&currentClickNode.name==='按时间区间'">
      <nz-form-label nzSpan="4" nzRequired>整改统计时间</nz-form-label>
      <nz-form-control nzSpan="20"
        [nzValidateStatus]="rectifyTime.invalid && (rectifyTime.dirty || rectifyTime.touched) ? 'error' : ''">
        <nz-range-picker name="rectifyTime" #rectifyTime="ngModel" [nzDisabled]="isWatch" [(ngModel)]="auditTime"
          required>
        </nz-range-picker>
        <nz-form-explain *ngIf="rectifyTime.invalid && (rectifyTime.dirty || rectifyTime.touched)">
          请选择整改统计时间
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item
      *ngIf="currentItem&&currentItem.id&&currentItem.reportType==='按审计报告'||currentClickNode&&currentClickNode.name==='按审计报告'">
      <nz-form-label nzSpan="4" nzRequired>审计报告</nz-form-label>
      <nz-form-control nzSpan="20">
        <nz-select [nzDisabled]="isWatch" nzPlaceHolder="请选择审计报告">
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <ng-container
      *ngIf="currentItem&&currentItem.id&&currentItem.reportType==='按整改部门'||currentClickNode&&currentClickNode.name==='按整改部门'">
      <nz-form-item>
        <nz-form-label nzSpan="4" nzRequired>整改单位</nz-form-label>
        <nz-form-control nzSpan="20">
          <mt-organization-select required [disabled]="isWatch" placeHolder="请选择整改单位" organizationType="UNIT">
          </mt-organization-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="4">整改部门</nz-form-label>
        <nz-form-control nzSpan="20">
          <mt-organization-select required [disabled]="isWatch" placeHolder="请选择整改部门" organizationType="DEPARTMENT">
          </mt-organization-select>
        </nz-form-control>
      </nz-form-item>
    </ng-container>
    <nz-form-item *ngIf="currentItem&&currentItem.templateFile">
      <nz-form-label nzSpan="4" nzRequired>报告存储目录</nz-form-label>
      <nz-form-control nzSpan="20"
        [nzValidateStatus]="categoryId.invalid && (categoryId.dirty || categoryId.touched) ? 'error' : ''">
        <nz-tree-select #categoryId="ngModel" [disabled]="isWatch" name="categoryId" [nzNodes]="categoryFold"
          nzShowSearch nzPlaceHolder="选择模板后要选择报告的存储目录" [(ngModel)]="value" required>
        </nz-tree-select>
        <nz-form-explain *ngIf="categoryId.invalid && (categoryId.dirty || categoryId.touched)">
          选择模板后要选择报告的存储目录
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="4">统计</nz-form-label>
      <nz-form-control nzSpan="20">
        <span>问题总数：20 未开始：1 整改中：18 已逾期：8 已移交：2</span>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="4">报告模板</nz-form-label>
      <nz-form-control nzSpan="16">
        <nz-tag [nzColor]="'geekblue'" nzMode="checkable" (nzCheckedChange)="tagClick()"
          *ngIf="currentItem&&currentItem.templateFile">
          {{currentItem.templateFile.templateName}}</nz-tag>
        <nz-tag *ngIf="!currentItem||!currentItem.templateFile">无</nz-tag>
        <button nz-button nzType="default" (click)="referenceTempl()" *ngIf="!isWatch">
          <i nz-icon nzType="link" nzTheme="outline"></i>引用模板
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #noticeEditorFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button nz-button nzType="primary" (click)="save()" *ngIf="!isWatch" [nzLoading]="loading">确定</button>
  </ng-template>
</nz-modal>

<!-- 模板选择弹窗-->
<app-tempalte-select #tempalteSelectComponent (selectedTemplateFileChange)="selectTmpl($event)"></app-tempalte-select>
