<as-split direction="vertical" unit="pixel" [disabled]="true" gutterSize="0"
  (gutterClick)="leftSize = leftSize == 0 ? ORGANIZATION_TREE_WIDTH : 0">
  <!-- 审计知识树操作栏 -->
  <as-split-area class="flex-fixed" [size]="40" [size]="leftSize" minSize="180" maxSize="320">
    <h2><strong style="font-size: 15px;">整改汇报类型</strong></h2>
    <nz-divider nzType="horizontal"></nz-divider>
  </as-split-area>
  <!-- 审计知识树节点 -->
  <as-split-area [size]="'*'" minSize="180" maxSize="320">
    <nz-spin [nzSpinning]="spinning">
      <nz-tree [nzData]="nodes" [nzSearchValue]="searchValue" [nzExpandAll]="true" (nzClick)="nzClick($event)"></nz-tree>
    </nz-spin>
  </as-split-area>
</as-split>
<rectify-post-type-tree-edit (dataChange)="loadTree()" [selectNode]="selectedNode" #knowledgeTypeTreeEditComponent>
</rectify-post-type-tree-edit>
