<div style="display: flex;">
  <nz-select #templateSelect nzAllowClear nzShowSearch nzPlaceHolder="请选择" [(ngModel)]="proposalTemplateId"
    (ngModelChange)="proposalTemplateChange($event)">
    <nz-option *ngFor="let option of proposalTemplates" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
  </nz-select>
  &nbsp;&nbsp;
  <nz-popconfirm [nzTitle]="confirmtittle" (nzOnConfirm)="confirmReference()" style="margin-top: -5px;">
    <ng-template #confirmtittle>
      引用模板建议会覆盖当前审计建议，确定要引用该模板吗？
    </ng-template>
    <button nz-button nzType="primary" nz-popconfirm [disabled]="!proposalTemplateId || disabled">引用</button>
  </nz-popconfirm>
</div>
