<as-split
  direction="vertical"
  unit="pixel"
  gutterSize="0"
  style="margin: 5px;background-color: white; overflow-y:scroll;"
>
  <as-split-area class="flex-fixed" [size]="40">
    <div style="padding-top: 10px;padding-right: 20px;">
      <div nz-row>
        <div nz-col nzSpan="12" style="text-align: right;">
          <font style="font-size: 25px;font-weight: bold;">部门1整改画像</font>
        </div>
        <div nz-col nzSpan="12" style="text-align: right;">
          <nz-form-item>
            <nz-form-label [nzSm]="16">年份</nz-form-label>
            <nz-form-control [nzSm]="8">
              <nz-year-picker [(ngModel)]="currentDate" (ngModelChange)="onChange($event)"></nz-year-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </as-split-area>
  <as-split-area [size]="'*'">
    <div nz-row style="padding: 10px;">
      <div nz-row nzJustify="space-between">
        <div nz-col nzSpan="16">
          <div style="text-align: center;margin-top: 10px;margin-bottom: -20px;">
            <font style="font-size: 18px;font-weight: bold;">{{ selectYear }}年部门1整改情况统计</font>
            &nbsp;&nbsp;&nbsp;
            <font style="font-size: 16px;">问题总数：32</font>
          </div>
          <div nz-col nzSpan="12">
            <div
              class="chart"
              echarts
              [theme]="'macarons'"
              [options]="option1"
              (chartClick)="onChartClick($event)"
            ></div>
          </div>
          <div nz-col nzSpan="12">
            <div
              class="chart"
              echarts
              [theme]="'macarons'"
              [options]="option2"
              (chartClick)="onChartClick($event)"
            ></div>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="text-align: center;margin-top: 10px;margin-bottom: -20px;">
            <font style="font-size: 18px;font-weight: bold;">部门1问题数多年变化</font>
          </div>
          <div class="chart" echarts [theme]="'macarons'" [options]="option3" (chartClick)="onChartClick($event)"></div>
        </div>
      </div>
    </div>
    <div nz-row style="padding: 10px;">
      <div nz-row nzJustify="space-between">
        <div nz-col nzSpan="8">
          <div class="chart" echarts [theme]="'macarons'" [options]="option4" (chartClick)="onChartClick($event)"></div>
        </div>
        <div nz-col nzSpan="8">
          <div class="chart" echarts [theme]="'macarons'" [options]="option5" (chartClick)="onChartClick($event)"></div>
        </div>
        <div nz-col nzSpan="8">
          <div class="chart" echarts [theme]="'macarons'" [options]="option6" (chartClick)="onChartClick($event)"></div>
        </div>
      </div>
    </div>
    <div nz-row style="padding: 10px;">
      <div nz-row nzJustify="space-between">
        <div nz-col nzSpan="24">
          <div class="chart" echarts [theme]="'macarons'" [options]="option7" (chartClick)="onChartClick($event)"></div>
        </div>
      </div>
    </div>
  </as-split-area>
</as-split>
