<div style="height:100%;margin-left:10px;margin-top:10px;overflow:scroll;">
  <form nz-form>
    <nz-form-item>
      <nz-form-label nzSpan="4"> 整改报告名称</nz-form-label>
      <nz-form-control nzSpan="18">
        <input nz-input />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="4">整改统计时间</nz-form-label>
      <nz-form-control nzSpan="18">
        <nz-range-picker></nz-range-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzSpan="4">整改报告</nz-form-label>
      <nz-form-control nzSpan="18">
        <button nz-button>引用模板</button> <button nz-button>提交审核</button>
        <button nz-button>生成报告</button>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="4">整改报告列表</nz-form-label>
      <nz-form-control nzSpan="18"> </nz-form-control>
    </nz-form-item>
  </form>
</div>
