<as-split direction="vertical" unit="pixel" gutterSize="0" style="background-color: white;">
  <form nz-form #auditPostForm="ngForm">
    <as-split-area class="flex-fixed" [size]="40">
      <div class="app-toor-bar">
        <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
          <div nz-col nzSpan="24">
            <button nz-button (click)="onReturn()"><i nz-icon nzType="rollback" nzTheme="outline"></i>返回</button>
            <!-- <button nz-button nzType="primary"><i nz-icon nzType="save" nzTheme="outline"></i>保存</button> -->
          </div>
        </div>
      </div>
    </as-split-area>
    <as-split-area [size]="'*'" style="height:100%;">
      <div style="height:100%;margin-left:10px;margin-top:10px;overflow:scroll;">
        <nz-steps [nzCurrent]="current" nzDirection="vertical">
          <nz-step nzTitle="报告基本信息" [nzDescription]="step1"></nz-step>
          <nz-step nzTitle="问题清单" [nzDescription]="step2"></nz-step>
        </nz-steps>
        <ng-template #step1>
          <nz-form-item>
            <nz-form-label nzSpan="4">上传审计报告</nz-form-label>

            <nz-form-control nzSpan="18">
              <nz-upload
                nzAction=""
                [nzCustomRequest]="customReq"
                [nzFileList]="fileList"
                nzMultiple
                [nzShowUploadList]="true"
                [nzLimit]="1"
                [nzFilter]="filters"
                (nzChange)="handleChange($event)"
                [nzDisabled]="readFlag1"
                [nzRemove]="removeFile"
              >
                <button
                  nz-button
                  nzShape="round"
                  [disabled]="readFlag1 || isWatch || currentItem.auditReportStatus == 'GENERATED'"
                >
                  <i nz-icon nzType="upload"></i><span>上传文件</span>
                </button>
              </nz-upload>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzSpan="4">报告内容提取</nz-form-label>
            <nz-form-control nzSpan="18">
              <button
                (click)="downLoadPostFile()"
                [disabled]="!currentItem.systemFile || readFlag1"
                nz-button
                nzShape="round"
              >
                <i nz-icon nzType="download" nzTheme="outline"></i>下载报告
              </button>
              <button
                (click)="previewPostFile()"
                [disabled]="!currentItem.systemFile || readFlag1"
                nz-button
                nzShape="round"
              >
                <i nz-icon nzType="zoom-in" nzTheme="outline"></i>查看报告
              </button>
              <button
                *ngIf="!isWatch"
                [disabled]="
                  !currentItem.systemFile || readFlag1 || isWatch || currentItem.auditReportStatus == 'GENERATED'
                "
                nz-button
                nzShape="round"
              >
                <i nz-icon nzType="file-search" nzTheme="outline"></i>开始读取
              </button>
            </nz-form-control>
          </nz-form-item>

          <!--基本信息-->

          <nz-form-item>
            <nz-form-label nzSpan="4" nzRequired>审计报告名称</nz-form-label>
            <nz-form-control
              nzSpan="18"
              [nzValidateStatus]="name.invalid && (name.dirty || name.touched) ? 'error' : ''"
            >
              <input
                nz-input
                required
                [disabled]="readFlag1 || isWatch || currentItem.auditReportStatus == 'GENERATED'"
                #name="ngModel"
                name="name"
                [(ngModel)]="currentItem.name"
              />
              <nz-form-explain *ngIf="name.invalid && (name.dirty || name.touched)">
                请填写审计报告名称
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzSpan="4" nzRequired>审计单位名称</nz-form-label>
            <nz-form-control
              nzSpan="18"
              [nzValidateStatus]="auditName.invalid && (auditName.dirty || auditName.touched) ? 'error' : ''"
            >
              <input
                nz-input
                required
                [disabled]="readFlag1 || isWatch || currentItem.auditReportStatus == 'GENERATED'"
                #auditName="ngModel"
                name="auditName"
                [(ngModel)]="currentItem.auditName"
              />

              <nz-form-explain *ngIf="auditName.invalid && (auditName.dirty || auditName.touched)">
                请填写审计单位名称
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzSpan="4" nzRequired>审计时间</nz-form-label>
            <nz-form-control
              nzSpan="7"
              [nzValidateStatus]="
                auditDateRange.invalid && (auditDateRange.dirty || auditDateRange.touched) ? 'error' : ''
              "
            >
              <nz-range-picker
                required
                [nzDisabled]="readFlag1 || isWatch || currentItem.auditReportStatus == 'GENERATED'"
                #auditDateRange="ngModel"
                name="auditDateRange"
                [(ngModel)]="currentItem.auditDateRange"
              ></nz-range-picker>
              <nz-form-explain *ngIf="auditDateRange.invalid && (auditDateRange.dirty || auditDateRange.touched)">
                请选择审计时间
              </nz-form-explain>
            </nz-form-control>
            <nz-form-label nzSpan="4" nzRequired>报告来源</nz-form-label>
            <nz-form-control nzSpan="7">
              <nz-select
                name="reportSource"
                nzShowSearch
                [nzDisabled]="readFlag1 || isWatch || currentItem.auditReportStatus == 'GENERATED'"
                nzAllowClear
                nzPlaceHolder="请选择报告来源"
                [(ngModel)]="currentItem.reportSource"
              >
                <nz-option nzLabel="报告来源一" nzValue="MRF_REPORT_SOURCE"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </ng-template>

        <ng-template #step2>
          <nz-form-item *ngIf="visabled">
            <nz-form-label nzSpan="4">整改问题清单</nz-form-label>
            <nz-form-control nzSpan="18">
              <nz-table #columnTable nzBordered [nzData]="listOfData" [nzScroll]="{ x: '900px' }">
                <thead>
                  <tr>
                    <th nzWidth="50px" nzAlign="center" nzLeft="0px">序号</th>
                    <th nzWidth="100px" nzAlign="center" nzLeft="50px">问题名称</th>
                    <th nzWidth="100px" nzAlign="center">问题描述</th>
                    <th nzWidth="100px" nzAlign="center">问题类型</th>
                    <th nzWidth="100px" nzAlign="center">整改部门</th>
                    <th nzWidth="100px" nzAlign="center">整改责任人</th>
                    <th nzWidth="100px" nzAlign="center">审计建议</th>
                    <th nzRight="100px" nzAlign="center" nzWidth="100px">问题来源</th>
                    <th nzWidth="150px" nzAlign="center" nzRight="0px">
                      操作
                      <button
                        nz-button
                        [nzSize]="small"
                        nzType="primary"
                        *ngIf="!readFlag2 && !isWatch && currentItem.auditReportStatus != 'GENERATED'"
                        (click)="addProblem()"
                      >
                        增加
                      </button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of columnTable.data; let i = index">
                    <td nzAlign="center" nzLeft="0px">
                      {{
                        ((columnTable.nzPageIndex ? columnTable.nzPageIndex : 1) - 1) *
                          (columnTable.nzPageSize ? columnTable.nzPageSize : 0) +
                          (i + 1)
                      }}
                    </td>

                    <td nzLeft="50px">
                      <nz-form-item>
                        <nz-form-control
                          [nzValidateStatus]="name.invalid && (name.dirty || name.touched) ? 'error' : ''"
                        >
                          <input
                            #name="ngModel"
                            required
                            [disabled]="!data.editable"
                            nz-input
                            [name]="'name' + i"
                            [(ngModel)]="data.name"
                          />

                          <nz-form-explain *ngIf="name.invalid && (name.dirty || name.touched)">
                            请填写问题名称
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>
                    </td>
                    <td>
                      <nz-form-item>
                        <nz-form-control
                          [nzValidateStatus]="remark.invalid && (remark.dirty || remark.touched) ? 'error' : ''"
                        >
                          <textarea
                            required
                            [disabled]="!data.editable"
                            rows="1"
                            #remark="ngModel"
                            nz-input
                            [name]="'remark' + i"
                            [(ngModel)]="data.remark"
                          ></textarea>
                          <nz-form-explain *ngIf="remark.invalid && (remark.dirty || remark.touched)">
                            请填写问题描述
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>
                    </td>
                    <td>
                      <nz-form-item>
                        <nz-form-control
                          [nzValidateStatus]="type.invalid && (type.dirty || type.touched) ? 'error' : ''"
                        >
                          <nz-select
                            required
                            #type="ngModel"
                            [nzDisabled]="!data.editable"
                            [name]="'type' + i"
                            [(ngModel)]="data.type"
                            nzAllowClear
                          >
                            <nz-option [nzValue]="'PROBLEM_ONE'" [nzLabel]="'类型一'"></nz-option>
                            <nz-option [nzValue]="'PROBLEM_TWO'" [nzLabel]="'类型二'"></nz-option>
                          </nz-select>
                          <nz-form-explain *ngIf="type.invalid && (type.dirty || type.touched)">
                            请选择问题类型
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>
                    </td>
                    <td>
                      <nz-form-item>
                        <nz-form-control
                          [nzValidateStatus]="
                            selectedRectifyDepartment.invalid &&
                            (selectedRectifyDepartment.dirty || selectedRectifyDepartment.touched)
                              ? 'error'
                              : ''
                          "
                        >
                          <mt-organization-select
                            [disabled]="!data.editable"
                            required
                            #selectedRectifyDepartment="ngModel"
                            placeHolder="请选择整改部门"
                            organizationType="UNIT"
                            [name]="'selectedRectifyDepartment' + i"
                            [(ngModel)]="data.selectedRectifyDepartment"
                            (ngModelChange)="selectDepartment($event, data)"
                          >
                          </mt-organization-select>
                          <nz-form-explain
                            *ngIf="
                              selectedRectifyDepartment.invalid &&
                              (selectedRectifyDepartment.dirty || selectedRectifyDepartment.touched)
                            "
                          >
                            请选择整改部门
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>
                    </td>
                    <td>
                      <nz-form-item>
                        <nz-form-control
                          [nzValidateStatus]="
                            selectedRectifyPeople.invalid &&
                            (selectedRectifyPeople.dirty || selectedRectifyPeople.touched)
                              ? 'error'
                              : ''
                          "
                        >
                          <mt-user-select
                            required
                            [isMultiSelect]="false"
                            #selectedRectifyPeople="ngModel"
                            [name]="'selectedRectifyPeople' + i"
                            [(ngModel)]="data.selectedRectifyPeople"
                            [disabled]="!data.editable"
                            (ngModelChange)="selectUser($event, data)"
                          ></mt-user-select>
                          <nz-form-explain
                            *ngIf="
                              selectedRectifyPeople.invalid &&
                              (selectedRectifyPeople.dirty || selectedRectifyPeople.touched)
                            "
                          >
                            请选择整改负责人
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>
                    </td>
                    <td>
                      <nz-form-item>
                        <nz-form-control
                          [nzValidateStatus]="advice.invalid && (advice.dirty || advice.touched) ? 'error' : ''"
                        >
                          <textarea
                            [disabled]="!data.editable"
                            rows="1"
                            #advice="ngModel"
                            required
                            nz-input
                            [name]="'advice' + i"
                            [(ngModel)]="data.advice"
                          ></textarea>
                          <nz-form-explain *ngIf="advice.invalid && (advice.dirty || advice.touched)">
                            请填写整改建议
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>
                    </td>
                    <td nzRight="100px">
                      <nz-form-item>
                        <nz-form-control
                          [nzValidateStatus]="source.invalid && (source.dirty || source.touched) ? 'error' : ''"
                        >
                          <input
                            required
                            #source="ngModel"
                            [disabled]="!data.editable"
                            nz-input
                            [name]="'source' + i"
                            [(ngModel)]="data.source"
                          />
                          <nz-form-explain *ngIf="source.invalid && (source.dirty || source.touched)">
                            请填写问题来源
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>
                    </td>

                    <td nzAlign="center" nzRight="0px">
                      <a
                        *ngIf="readFlag2 || isWatch || currentItem.auditReportStatus == 'GENERATED'"
                        (click)="editProblem(data, true)"
                        >查看</a
                      >
                      <a
                        (click)="editProblem(data, false)"
                        *ngIf="!readFlag2 && !data.editable && !isWatch && currentItem.auditReportStatus != 'GENERATED'"
                        >编辑</a
                      >
                      <nz-divider nzType="vertical"></nz-divider>
                      <nz-popconfirm [nzTitle]="confirmtittle" (nzOnConfirm)="deleteProblem(data)">
                        <ng-template #confirmtittle>是否要删除该条数据</ng-template>
                        <a
                          *ngIf="readFlag2 || isWatch || currentItem.auditReportStatus == 'GENERATED'"
                          style="pointer-events: none;color: #666666; opacity: 0.5"
                          >删除</a
                        >
                        <a *ngIf="!readFlag2 && !isWatch && currentItem.auditReportStatus != 'GENERATED'" nz-popconfirm
                          >删除</a
                        >
                      </nz-popconfirm>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a
                        *ngIf="(readFlag2 && data.editable) || isWatch || currentItem.auditReportStatus == 'GENERATED'"
                        style="pointer-events: none;color: #666666; opacity: 0.5"
                        >保存</a
                      >
                      <a
                        (click)="saveProblem(data)"
                        *ngIf="!readFlag2 && data.editable && !isWatch && currentItem.auditReportStatus != 'GENERATED'"
                        nz-popconfirm
                        >保存</a
                      >
                    </td>
                  </tr>
                </tbody>
                <!-- <ng-template #tableFooter>
                  <button
                    *ngIf="!isWatch && currentItem.auditReportStatus != 'GENERATED'"
                    [disabled]="!allProblemSaved() || current !== 1"
                    (click)="addProblem()"
                    nz-button
                    nzType="primary"
                    nzSize="small"
                  >
                    <i nz-icon nzType="plus" nzTheme="outline"></i>添加问题
                  </button>
                   <button nz-button nzType="danger" nzSize="small">
                    <i nz-icon nzType="delete" nzTheme="outline"></i>批量删除
                  </button> 
                </ng-template> -->
              </nz-table>
            </nz-form-control>
          </nz-form-item>
        </ng-template>
        <div style="position: absolute; bottom: 10px;" *ngIf="!currentshow">
          <button [disabled]="!allProblemSaved()" nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
            <i nz-icon nzType="backward" nzTheme="outline"></i>上一步
          </button>
          <button nz-button style="margin-left: 50px;" nzType="default" (click)="next()" *ngIf="current < 1">
            <i nz-icon nzType="forward" nzTheme="outline"></i>下一步
          </button>

          <button
            nz-button
            nzType="primary"
            nz-button
            style="margin-left: 50px;"
            nzType="primary"
            (click)="done()"
            *ngIf="current === 1 && !isWatch && currentItem.auditReportStatus != 'GENERATED'"
          >
            <i nz-icon nzType="save" nzTheme="outline"></i>保存
          </button>

          <button
            (click)="generatePost()"
            nz-button
            nzType="primary"
            nz-button
            style="margin-left: 50px;"
            nzType="primary"
            *ngIf="current === 1 && !isWatch && currentItem.id && currentItem.auditReportStatus != 'GENERATED'"
          >
            <i nz-icon nzType="file-text" nzTheme="outline"></i>生成报告
          </button>
        </div>
      </div>
    </as-split-area>
  </form>
</as-split>
<nz-modal
  [(nzVisible)]="isVisabled"
  nzTitle="整改问题清单详情"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  nzWidth="800px"
>
  <form nz-form #problemform="ngForm">
    <nz-form-item nz-row>
      <nz-form-label [nzSpan]="4" nzRequired>整改部门</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <mt-organization-select
          [disabled]="lookup"
          placeHolder="请选择整改部门"
          organizationType="UNIT"
          name="paramsItem.selectedRectifyDepartment"
          [(ngModel)]="paramsItem.selectedRectifyDepartment"
          (ngModelChange)="selectDepartment($event, paramsItem)"
        >
        </mt-organization-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSpan]="4" nzRequired>问题名称</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <input
          [readOnly]="lookup"
          required
          nz-input
          name="paramsItem.name"
          [pattern]="PATTERN"
          required
          [(ngModel)]="paramsItem.name"
        />
      </nz-form-control>
      <nz-form-label [nzSpan]="4" nzRequired>问题类型</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <nz-select
          [nzDisabled]="lookup"
          required
          name="paramsItem.type"
          nzAllowClear
          required
          [(ngModel)]="paramsItem.type"
        >
          <nz-option [nzValue]="'PROBLEM_ONE'" [nzLabel]="'类型一'"></nz-option>
          <nz-option [nzValue]="'PROBLEM_TWO'" [nzLabel]="'类型二'"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-label [nzSpan]="4" nzRequired>整改负责人</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <mt-user-select
          [disabled]="lookup"
          [isMultiSelect]="false"
          #selectedRectifyPeople="ngModel"
          name="paramsItem.selectedRectifyPeople"
          [(ngModel)]="paramsItem.selectedRectifyPeople"
          (ngModelChange)="selectUser($event, paramsItem)"
        ></mt-user-select>
      </nz-form-control>
      <nz-form-label [nzSpan]="4" nzRequired>问题来源</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <input
          [readOnly]="lookup"
          required
          nz-input
          name="paramsItem.source"
          [pattern]="PATTERN"
          required
          [(ngModel)]="paramsItem.source"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSpan]="4" nzRequired>问题描述</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <textarea
          [readOnly]="lookup"
          nz-input
          name="paramsItem.remark"
          [(ngModel)]="paramsItem.remark"
          required
          rows="6"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSpan]="4" nzRequired>整改建议</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <textarea
          [readOnly]="lookup"
          nz-input
          name="paramsItem.advice"
          [(ngModel)]="paramsItem.advice"
          required
          rows="6"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
