<as-split direction="vertical" unit="pixel" gutterSize="0" style="background-color: white;">
  <as-split-area class="flex-fixed" [size]="40">
    <div class="app-toor-bar">
      <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
        <div nz-col nzSpan="24">
          <button nz-button (click)="onReturn()"><i nz-icon nzType="rollback" nzTheme="outline"></i>返回</button>
          <button nz-button nzType="primary" nz-button style="float:right;margin-top: 10px;" nzType="primary"
            *ngIf="!isWatch && currentItem.auditReportStatus != 'COMPLETED'" (click)="done()">
            <i nz-icon nzType="save" nzTheme="outline"></i>保存
          </button>
        </div>
      </div>
    </div>
    <nz-divider [nzText]="title" style="margin-top:-20px">
      <ng-template #title>
        <h1>审计报告解析</h1>
      </ng-template>
    </nz-divider>
  </as-split-area>

  <as-split-area [size]="'*'">
    <form nz-form #auditPostForm="ngForm">
      <nz-form-item>
        <nz-form-label nzRequired nzSpan="3">上传审计报告</nz-form-label>
        <nz-form-control nzSpan="19">
          <app-attach-list [show]="!isWatch" [(attachFiles)]="reportFile" [fileLimit]="1"
            [showDelete]="currentItem.id === null" [TBHeight]="'150px'" [fileType]="'AUDIT_REPORT_FILE'"
            (attachFilesChange)="reportFileChange($event)">
          </app-attach-list>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzSpan="3">项目相关资料</nz-form-label>
        <nz-form-control nzSpan="19">
          <app-attach-list [show]="!isWatch" [(attachFiles)]="currentItem.systemFileDTOS"
            [fileType]="'AUDIT_REPORT_FILE_ATTACHMENT'">
          </app-attach-list>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzSpan="3" [nzNoColon]="true"> </nz-form-label>
        <nz-form-control nzSpan="19">
          <button *ngIf="!isWatch"
            [disabled]="reportFile.length === 0 || isWatch || currentItem.auditReportStatus == 'COMPLETED'" nz-button
            (click)="loadFile()">
            <i nz-icon nzType="file-search" nzTheme="outline"></i>开始读取
          </button>
        </nz-form-control>
      </nz-form-item>

      <!--基本信息-->
      <nz-form-item *ngIf="show">
        <nz-form-label nzSpan="3" nzRequired>审计报告名称</nz-form-label>
        <nz-form-control nzSpan="8" [nzValidateStatus]="name.invalid && (name.dirty || name.touched) ? 'error' : ''">
          <input nz-input required [readOnly]="isWatch || currentItem.auditReportStatus == 'COMPLETED'" #name="ngModel"
            name="name" [(ngModel)]="currentItem.name" />
          <nz-form-explain *ngIf="name.invalid && (name.dirty || name.touched)">
            请填写审计报告名称
          </nz-form-explain>
        </nz-form-control>
        <nz-form-label nzSpan="3" nzRequired>审计单位名称</nz-form-label>
        <nz-form-control nzSpan="8"
          [nzValidateStatus]="auditName.invalid && (auditName.dirty || auditName.touched) ? 'error' : ''">
          <input nz-input required [readOnly]="isWatch || currentItem.auditReportStatus == 'COMPLETED'"
            #auditName="ngModel" name="auditName" [(ngModel)]="currentItem.auditName" />
          <nz-form-explain *ngIf="auditName.invalid && (auditName.dirty || auditName.touched)">
            请填写审计单位名称
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="show">
        <nz-form-label nzSpan="3" nzRequired>审计时间</nz-form-label>
        <nz-form-control nzSpan="8"
          [nzValidateStatus]="auditDateRange.invalid && (auditDateRange.dirty || auditDateRange.touched) ? 'error' : ''">
          <nz-range-picker required [nzDisabled]="isWatch || currentItem.auditReportStatus == 'COMPLETED'"
            #auditDateRange="ngModel" name="auditDateRange" [(ngModel)]="dateRange">
          </nz-range-picker>
          <nz-form-explain *ngIf="auditDateRange.invalid && (auditDateRange.dirty || auditDateRange.touched)">
            请选择审计时间
          </nz-form-explain>
        </nz-form-control>
        <nz-form-label nzSpan="3" nzRequired>报告来源</nz-form-label>
        <nz-form-control nzSpan="8"
          [nzValidateStatus]="auditSource.invalid && (auditSource.dirty || auditSource.touched) ? 'error' : ''">
          <nz-select required [disabled]="isWatch" nzAllowClear nzPlaceHolder="'请选择报告来源'" #auditSource="ngModel"
            name="auditSource" [(ngModel)]="currentItem.auditSource">
            <nz-option nzValue="INTERNAL_AUDIT" nzLabel="内审报告"></nz-option>
            <nz-option nzValue="WELCOME_TRIAL" nzLabel="迎审报告"></nz-option>
            <nz-option nzValue="EXTERNAL_AUDIT" nzLabel="外聘审计报告"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="auditSource.invalid && (auditSource.dirty || auditSource.touched)">
            请选择报告来源
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="show">
        <nz-form-label nzSpan="3" nzRequired>被审计对象</nz-form-label>
        <nz-form-control nzSpan="8"
          [nzValidateStatus]="auditTarget.invalid && (auditTarget.dirty || auditTarget.touched) ? 'error' : ''">
          <input nz-input required [readOnly]="isWatch || currentItem.auditTarget == 'COMPLETED'" #auditTarget="ngModel"
            name="auditTarget" [(ngModel)]="currentItem.auditTarget" />
          <nz-form-explain *ngIf="auditTarget.invalid && (auditTarget.dirty || auditTarget.touched)">
            请填写被审计单位名称
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="show">
        <nz-form-label nzSpan="3">审计发现清单</nz-form-label>
        <nz-form-control nzSpan="19">
          <nz-table #columnTable nzBordered [nzData]="listOfData" style="padding-left: 0px !important;"
            [nzScroll]="{ y: '100%' }" [nzShowPagination]="false" [nzNoResult]="null" [nzSize]="'middle'"
            [ngStyle]="{ height: '300px' }">
            <thead>
              <tr>
                <th nzWidth="50px">序号</th>
                <th nzWidth="40%">问题名称</th>
                <th nzWidth="40%">问题类型</th>
                <th nzWidth="20%">问题类别</th>
                <th nzWidth="20%" nzAlign="right">涉及金额(元)</th>
                <th nzWidth="150px" nzAlign="center">
                  操作
                  <button nz-button [nzSize]="'small'" nzType="primary" *ngIf="!isWatch" (click)="addProblem()">
                    新增
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of columnTable.data; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ data?.name }}</td>
                <td>{{ data?.rectifyProblemTypeId }}</td>
                <!-- <td>{{ convertProblemType(data.rectifyProblemTypeId) }}</td> -->
                <td> {{data.rectifyProblemCategory === 'AUDIT_OPINION'? '审计意见问题' : '审计建议问题'}}</td>
                <td nzAlign="right">{{ data.money | currency: 'CNY':'symbol-narrow' }}</td>
                <td nzAlign="center">
                  <a (click)="editProblem(data, true)">查看</a>&nbsp;
                  <a (click)="editProblem(data, false)" *ngIf="!isWatch && data.sendStatus === 'NOT_ISSUED' && data.transferStatus === 'NOT_HANDED_OVER' 
                    && (!data.children || data.children.length === 0)">编辑</a>&nbsp;
                  <nz-popconfirm [nzTitle]="confirmtittle" (nzOnConfirm)="deleteProblem(data)">
                    <ng-template #confirmtittle>是否要删除该条数据</ng-template>
                    <a *ngIf="!isWatch && data.sendStatus === 'NOT_ISSUED' && data.transferStatus === 'NOT_HANDED_OVER'
                     && (!data.children || data.children.length === 0)" nz-popconfirm>删除</a>
                  </nz-popconfirm>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </nz-form-control>
      </nz-form-item>
    </form>
  </as-split-area>
</as-split>


<nz-modal [(nzVisible)]="isVisabled" nzTitle="问题详情" [nzFooter]="modalFooter" nzWidth="1200px"
  (nzOnCancel)="handleCancel()">
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button nz-button nzType="primary" (click)="handleOk()" *ngIf="!isWatchProblem">确认</button>
  </ng-template>
  <form nz-form #problemform="ngForm">
    <nz-form-item nz-row>
      <nz-form-label [nzSpan]="3" nzRequired>问题名称</nz-form-label>
      <nz-form-control [nzSpan]="19" [nzValidateStatus]="name.invalid && (name.dirty || name.touched) ? 'error' : ''">
        <input [readOnly]="isWatchProblem" required nz-input #name="ngModel" name="name" [pattern]="PATTERN" required
          [(ngModel)]="paramsItem.name" />
        <nz-form-explain *ngIf="name.invalid && (name.dirty || name.touched)">
          请填写问题名称
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzRequired>问题类型</nz-form-label>
      <nz-form-control [nzSpan]="8" [nzValidateStatus]="
          rectifyProblemTypeId.invalid && (rectifyProblemTypeId.dirty || rectifyProblemTypeId.touched) ? 'error' : ''
        ">
        <nz-tree-select #problemtypeselect style="width: 100%;" [nzDefaultExpandAll]="'true'"
          [nzNodes]="problemTypeNodes" name="rectifyProblemTypeId" #rectifyProblemTypeId="ngModel" nzShowSearch
          [nzPlaceHolder]="'请选择'" [(ngModel)]="paramsItem.rectifyProblemTypeId" [nzDisabled]="isWatchProblem"
          (ngModelChange)="getProblemType($event)" required>
        </nz-tree-select>

        <nz-form-explain
          *ngIf="rectifyProblemTypeId.invalid && (rectifyProblemTypeId.dirty || rectifyProblemTypeId.touched)">
          请填写问题类型
        </nz-form-explain>
      </nz-form-control>
      <nz-form-label [nzSpan]="3" nzRequired>涉及金额（元）</nz-form-label>
      <nz-form-control [nzSpan]="8" [nzValidateStatus]="money.invalid && (money.dirty || money.touched) ? 'error' : ''">
        <nz-input-number [nzDisabled]="isWatchProblem" name="money" [(ngModel)]="paramsItem.money" #money="ngModel" required
          nzMin="0"></nz-input-number>
        <nz-form-explain *ngIf="money.invalid && (money.dirty || money.touched)">
          请填写涉及金额
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzRequired>问题类别</nz-form-label>
      <nz-form-control nzSpan="9">
        <nz-radio-group [(ngModel)]="paramsItem.rectifyProblemCategory" name="rectifyProblemCategory"
          [nzDisabled]="isWatchProblem">
          <label nz-radio nzValue="AUDIT_OPINION">审计意见问题</label>
          <label nz-radio nzValue="AUDIT_PROPOSAL">审计建议问题</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzRequired>问题描述</nz-form-label>
      <nz-form-control [nzSpan]="19"
        [nzValidateStatus]="description.invalid && (description.dirty || description.touched) ? 'error' : ''">
        <textarea [readOnly]="isWatchProblem" nz-input required #description="ngModel" name="description"
          [(ngModel)]="paramsItem.description" rows="6"></textarea>
        <nz-form-explain *ngIf="description.invalid && (description.dirty || description.touched)">
          请填写问题描述
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3">审计意见</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <textarea [readOnly]="isWatchProblem" nz-input name="paramsItem" [(ngModel)]="paramsItem.auditOpinion"
          rows="6"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="3">引用建议模版</nz-form-label>
      <nz-form-control nzSpan="8">
        <nz-select nzAllowClear nzShowSearch nzPlaceHolder="请选择" style="width: 260px;" name="proposalTemplateId"
          [(ngModel)]="paramsItem.proposalTemplateId" (ngModelChange)="proposalTemplateChange($event)">
          <nz-option *ngFor="let option of proposalTemplates" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
        </nz-select>
        &nbsp;&nbsp;
        <nz-popconfirm [nzTitle]="confirmtittle" (nzOnConfirm)="confirmReference()" style="margin-top: -5px;">
          <ng-template #confirmtittle>
            引用模板建议会覆盖当前审计建议，确定要引用该模板吗？
          </ng-template>
          <button nz-button nzType="primary" nz-popconfirm
            [disabled]="!paramsItem.proposalTemplateId || isWatchProblem">确认引用</button>
        </nz-popconfirm>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3">审计建议</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <textarea [readOnly]="isWatchProblem" nz-input name="advice" [(ngModel)]="paramsItem.advice" rows="6"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<app-audit-post-view #auditPostViewComponent></app-audit-post-view>
