<as-split direction="vertical" unit="pixel" gutterSize="0" style="background-color: white;">
  <as-split-area class="flex-fixed" [size]="40">
    <div class="app-toor-bar">
      <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
        <div nz-col nzSpan="24">
          <button nz-button><i nz-icon nzType="rollback" nzTheme="outline"></i>返回</button>
          <button nz-button nzType="primary"><i nz-icon nzType="save" nzTheme="outline"></i>保存</button>
        </div>
      </div>
    </div>
  </as-split-area>
  <as-split-area [size]="'*'">
    <div style="height:100%;margin-left:10px;margin-top:10px;overflow:scroll;">
      <form nz-form>
        <nz-steps [nzCurrent]="current" nzDirection="vertical">
          <nz-step nzTitle="报告基本信息" [nzDescription]="step1"></nz-step>
          <nz-step nzTitle="报告生成" [nzDescription]="step2"></nz-step>
        </nz-steps>
        <ng-template #step1>
          <nz-form-item>
            <nz-form-label nzSpan="4">上传审计报告</nz-form-label>
            <nz-form-control nzSpan="20">
              <nz-upload
                nzAction="https://jsonplaceholder.typicode.com/posts/"
                [nzFileList]="fileList"
                nzMultiple
                [nzLimit]="2"
                [nzFilter]="filters"
                (nzChange)="handleChange($event)"
                [nzDisabled]="readFlag1"
              >
                <button nz-button nzShape="round" [disabled]="readFlag1">
                  <i nz-icon nzType="upload"></i><span>上传文件</span>
                </button>
              </nz-upload>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzSpan="4">报告内容提取</nz-form-label>
            <nz-form-control nzSpan="18">
              <button nz-button nzShape="round" [disabled]="readFlag1">
                <i nz-icon nzType="zoom-in" nzTheme="outline"></i>查看报告
              </button>
              <button nz-button nzShape="round" [disabled]="readFlag1">
                <i nz-icon nzType="file-search" nzTheme="outline"></i>开始读取
              </button>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzSpan="4" nzRequired>审计报告名称</nz-form-label>
            <nz-form-control nzSpan="18">
              <input nz-input [disabled]="readFlag1" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzSpan="4" nzRequired>审计单位名称</nz-form-label>
            <nz-form-control nzSpan="18">
              <input nz-input [disabled]="readFlag1" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzSpan="4" nzRequired>审计时间</nz-form-label>
            <nz-form-control nzSpan="7">
              <nz-range-picker [nzDisabled]="readFlag1"></nz-range-picker>
            </nz-form-control>
            <nz-form-label nzSpan="4">报告来源</nz-form-label>
            <nz-form-control nzSpan="7">
              <input nz-input [disabled]="readFlag1" />
            </nz-form-control>
          </nz-form-item>
        </ng-template>
        <ng-template #step2>
          <nz-form-item *ngIf="visabled">
            <nz-form-label nzSpan="4">整改问题清单</nz-form-label>
            <nz-form-control nzSpan="18">
              <nz-table
                [nzFooter]="tableFooter"
                #columnTable
                nzBordered
                [nzData]="listOfData"
                [nzScroll]="{ x: '900px' }"
              >
                <thead>
                  <tr>
                    <th nzWidth="50px" nzAlign="center" nzLeft="0px">序号</th>
                    <th nzWidth="100px" nzAlign="center" nzLeft="50px">问题名称</th>
                    <th nzWidth="100px" nzAlign="center">问题描述</th>
                    <th nzWidth="100px" nzAlign="center">问题类型</th>
                    <th nzWidth="100px" nzAlign="center">整改部门</th>
                    <th nzWidth="100px" nzAlign="center">整改负责人</th>
                    <th nzWidth="100px" nzAlign="center">审计建议</th>
                    <th nzRight="100px" nzAlign="center" nzWidth="100px">问题来源</th>
                    <th nzWidth="150px" nzAlign="center" nzRight="0px">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of columnTable.data; let i = index">
                    <td nzAlign="center" nzLeft="0px">
                      {{
                        ((columnTable.nzPageIndex ? columnTable.nzPageIndex : 1) - 1) *
                          (columnTable.nzPageSize ? columnTable.nzPageSize : 0) +
                          (i + 1)
                      }}
                    </td>

                    <td nzLeft="50px">
                      <nz-form-control [nzValidateStatus]="name.invalid && (name.dirty || name.touched) ? 'error' : ''">
                        <input
                          #name="ngModel"
                          required
                          [disabled]="!data.editable"
                          nz-input
                          [name]="'name' + i"
                          [(ngModel)]="data.name"
                        />

                        <nz-form-explain *ngIf="name.invalid && (name.dirty || name.touched)">
                          请填写问题名称
                        </nz-form-explain>
                      </nz-form-control>
                    </td>
                    <td>
                      <textarea
                        [disabled]="!data.editable"
                        rows="1"
                        nz-input
                        [name]="'remark' + i"
                        [(ngModel)]="data.remark"
                      ></textarea>
                    </td>
                    <td>
                      <nz-select [nzDisabled]="!data.editable" [name]="'type' + i " [(ngModel)]="data.type">
                        <nz-option nzValue="类型一" nzLabel="类型一"></nz-option>
                        <nz-option nzValue="类型二" nzLabel="类型二"></nz-option>
                      </nz-select>
                    </td>
                    <td>
                      <mt-organization-select
                        [disabled]="!data.editable"
                        placeHolder="请选择部门"
                        organizationType="UNIT"
                        [name]="'rectifyDepartmentId' +   i"
                        [(ngModel)]="data.rectifyDepartmentId"
                      >
                      </mt-organization-select>
                    </td>
                    <td>
                      <mt-user-select
                        [isMultiSelect]="false"
                        [name]="'rectifyPeopleId'+ i "
                        [(ngModel)]="data.rectifyPeopleId"
                        [disabled]="!data.editable"
                      ></mt-user-select>
                    </td>
                    <td>
                      <textarea
                        [disabled]="!data.editable"
                        rows="1"
                        nz-input
                        [name]="'advice' + i"
                        [(ngModel)]="data.advice"
                      ></textarea>
                    </td>
                    <td nzRight="100px">
                      <input [disabled]="!data.editable" nz-input [name]="'source' +  i" [(ngModel)]="data.source" />
                    </td>

                    <td nzAlign="center" nzRight="0px">
                      <a *ngIf="readFlag2" style="pointer-events: none;color: #666666; opacity: 0.5">编辑</a>
                      <a (click)="editProblem(data)" *ngIf="!readFlag2 && !data.editable">编辑</a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <nz-popconfirm [nzTitle]="confirmtittle" (nzOnConfirm)="deleteProblem(data)">
                        <ng-template #confirmtittle>是否要删除该条数据</ng-template>
                        <a *ngIf="readFlag2" style="pointer-events: none;color: #666666; opacity: 0.5">删除</a>
                        <a *ngIf="!readFlag2" nz-popconfirm>删除</a>
                      </nz-popconfirm>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a *ngIf="readFlag2 && data.editable" style="pointer-events: none;color: #666666; opacity: 0.5"
                        >保存</a
                      >
                      <a (click)="saveProblem(data)" *ngIf="!readFlag2 && data.editable" nz-popconfirm>保存</a>
                    </td>
                  </tr>
                </tbody>
                <ng-template #tableFooter>
                  <button (click)="addProblem()" nz-button nzType="primary" nzSize="small">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>添加问题
                  </button>
                  <button nz-button nzType="danger" nzSize="small">
                    <i nz-icon nzType="delete" nzTheme="outline"></i>批量删除
                  </button>
                </ng-template>
              </nz-table>
            </nz-form-control>
          </nz-form-item>
          <div style="position: absolute; top: 400px;">
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">上一步</button>
            <button nz-button style="margin-left: 50px;" nzType="default" (click)="next()" *ngIf="current < 1">
              下一步
            </button>
            <button nz-button style="margin-left: 50px;" nzType="primary" (click)="done()" *ngIf="current === 1">
              完成
            </button>
          </div>
        </ng-template>
      </form>
    </div>
  </as-split-area>
</as-split>
