<!-- 报告名称/问题名称/涉及金额/进度/截止日期/整改负责人/操作 -->

<nz-table #expandTable [nzData]="listOfMapData" [nzScroll]="{ y: '100%' }">
  <thead>
    <tr>
      <th nzWidth="20%">报告名称</th>
      <th nzWidth="20%">问题名称</th>
      <th nzWidth="20%">进度</th>
      <th nzWidth="10%">截止日期</th>
      <th nzWidth="10%">整改负责人</th>
      <th nzWidth="10%" nzRight="right">涉及金额（元）</th>
      <th nzWidth="10%" [nzAlign]="'center'">操作</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of expandTable.data">
      <ng-container *ngFor="let item of mapOfExpandedData[data.id]">
        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
          <td
            [nzIndentSize]="item.level * 20"
            [nzShowExpand]="!!item.children"
            [(nzExpand)]="item.expand"
            (nzExpandChange)="collapse(mapOfExpandedData[data.id], item, $event)"
          >
            {{ item.auditname }}
          </td>
          <td>{{ item.name }}</td>
          <td>
            <nz-progress [nzPercent]="item.process"> </nz-progress>
          </td>
          <td>{{ item.auditEndTime }}</td>
          <td>{{ item.dutyUser }}</td>
          <td nzRight="right">{{ item.money }}</td>

          <td [nzAlign]="'center'">
            <button nz-button nzType="link" (click)="watch(item)">查看</button>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</nz-table>
<app-audit-post-watch #auditPostWatchComponent></app-audit-post-watch>
<app-rectify-issue-split #rectifyIssueSplitComponent></app-rectify-issue-split>
