<div nz-col style="height:800px;overflow:scroll">
  <div sg-container="5">
    <sg style="width:20%">
      <nz-card nzTitle="累计整改问题数">
        <div nz-col>
          <div nz-row>
            <h1>560</h1>
          </div>
          <div nz-row nzJustify="space-between">
            <div nz-col nzSpan="6">年同比</div>
            <div nz-col nzSpan="6">
              <i nz-icon [nzType]="'caret-up'" style=" color: rgb(26, 241, 80);font-size: 16px;"></i>

              &nbsp;10%
            </div>
            <div nz-col nzSpan="6">季环比</div>
            <div nz-col nzSpan="6">
              <i nz-icon [nzType]="'caret-up'" style=" color: rgb(26, 241, 80);font-size: 16px;"></i>

              &nbsp;10%
            </div>
          </div>
          <div nz-row>
            月均问题数 23
          </div>
        </div>
      </nz-card>
    </sg>
    <sg style="width:20%">
      <nz-card nzTitle="累计整改回复数">
        <div nz-col>
          <div nz-row>
            <h1>846</h1>
          </div>
          <div nz-row></div>
          <div nz-row>月均问题数 23</div>
        </div>
      </nz-card>
    </sg>
    <sg style="width:20%">
      <nz-card nzTitle="整改反馈及时率">
        <div nz-col>
          <div nz-row>
            <h1>78%</h1>
          </div>
          <div nz-row></div>
          <div nz-row nzJustify="space-between">
            <div nz-col nzSpan="6">年同比</div>
            <div nz-col nzSpan="6">
              <i nz-icon [nzType]="'caret-up'" style=" color: rgb(26, 241, 80);font-size: 16px;"></i>

              &nbsp;10%
            </div>
            <div nz-col nzSpan="6">季环比</div>
            <div nz-col nzSpan="6">
              <i nz-icon [nzType]="'caret-up'" style=" color: rgb(26, 241, 80);font-size: 16px;"></i>

              &nbsp;10%
            </div>
          </div>
        </div>
      </nz-card>
    </sg>
    <sg style="width:20%">
      <nz-card nzTitle="整改完成率">
        <div nz-col>
          <div nz-row>
            <h1>78%</h1>
          </div>
          <div nz-row></div>
          <div nz-row nzJustify="space-between">
            <div nz-col nzSpan="6">年同比</div>
            <div nz-col nzSpan="6">
              <i nz-icon [nzType]="'caret-up'" style=" color: rgb(26, 241, 80);font-size: 16px;"></i>

              &nbsp;10%
            </div>
            <div nz-col nzSpan="6">季环比</div>
            <div nz-col nzSpan="6">
              <i nz-icon [nzType]="'caret-up'" style=" color: rgb(26, 241, 80);font-size: 16px;"></i>

              &nbsp;10%
            </div>
          </div>
        </div>
      </nz-card>
    </sg>
    <sg style="width:20%">
      <nz-card nzTitle="问题类型分布">
        <div nz-col>
          <div nz-row>
            <h1>29</h1>
          </div>
          <div nz-row></div>
          <div nz-row>
            高频问题xx占比60%
          </div>
        </div>
      </nz-card>
    </sg>
  </div>
  <div nz-row nzJustify="space-between">
    <div nz-col nzSpan="5">
      <nz-form-item>
        <nz-form-label nzSpan="8">整改问题</nz-form-label>
        <nz-form-control nzSpan="16"><input nz-input/></nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="5">
      <nz-form-item>
        <nz-form-label nzSpan="8">时间</nz-form-label>
        <nz-form-control nzSpan="16">
          <nz-range-picker></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="5">
      <nz-form-item>
        <nz-form-label nzSpan="8">状态</nz-form-label>
        <nz-form-control nzSpan="16">
          <nz-select style="width:200px" nzAllowClear>
            <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
            <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="5">
      <nz-form-item>
        <nz-form-label nzSpan="8">问题类型</nz-form-label>
        <nz-form-control nzSpan="16">
          <nz-select style="width:200px" nzAllowClear>
            <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
            <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <div style="float:right;margin-right:10px">
        <button nz-button nzType="primary"><i nz-icon nzType="reload" nzTheme="outline"></i>刷新</button>

        <button nz-button nzType="primary"><i nz-icon nzType="search" nzTheme="outline"></i>搜索</button>
      </div>
    </div>
  </div>
  <div nz-row></div>
  <div nz-row style="height:800px">
    <nz-table
      [nzTitle]="header"
      [nzScroll]="{ x: '1300px', y: '240px' }"
      #expandTable
      [nzData]="listOfMapData"
      style="height:450px"
    >
      <thead>
        <tr>
          <th nzWidth="200px" nzAlign="center">序号</th>
          <th nzWidth="200px" nzAlign="center">状态</th>
          <th nzWidth="200px" nzAlign="center">移交情况</th>
          <th nzWidth="200px" nzAlign="center">问题来源</th>
          <th nzWidth="200px" nzAlign="center">问题名称</th>
          <th nzWidth="200px" nzAlign="center">问题类型</th>
          <th nzWidth="200px" nzAlign="center">整改负责人</th>
          <th nzWidth="200px" nzAlign="center">具体整改负责人</th>
          <th nzWidth="200px" nzAlign="center">已提交整改措施数</th>
          <th nzWidth="200px" nzAlign="center">已完成整改措施数</th>
          <th nzWidth="200px" nzAlign="center">整改截止时间</th>
          <th nzWidth="200px" nzAlign="center">整改拟完成时间</th>
          <th nzWidth="200px" nzAlign="center">整改剩余天数</th>
          <th nzWidth="200px" nzAlign="center">反馈剩余天数</th>
          <th nzWidth="200px" nzRight="0">操作</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of expandTable.data">
          <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
            <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
              <td
                [nzIndentSize]="item.level * 20"
                [nzShowExpand]="!!item.children"
                [(nzExpand)]="item.expand"
                (nzExpandChange)="collapse(mapOfExpandedData[data.key], item, $event)"
                nzAlign="center"
              >
                {{ item.name }}
              </td>
              <td nzAlign="center">{{ item.age }}</td>
              <td nzAlign="center">{{ item.address }}</td>
              <td nzAlign="center">{{ item.age }}</td>
              <td nzAlign="center">{{ item.age }}</td>
              <td nzAlign="center">{{ item.age }}</td>
              <td nzAlign="center">{{ item.age }}</td>
              <td nzAlign="center">{{ item.age }}</td>
              <td nzAlign="center">{{ item.age }}</td>
              <td nzAlign="center">{{ item.age }}</td>
              <td nzAlign="center">{{ item.age }}</td>
              <td nzAlign="center">{{ item.age }}</td>
              <td nzAlign="center">{{ item.age }}</td>
              <td nzAlign="center">{{ item.age }}</td>
              <td nzRight="0">
                <a (click)="assignIssue()">问题分配</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>进入工作台</a>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
      <ng-template #header>
        <div nz-row nzJustify="space-between">
          <div nz-col nzSpan="5">
            <nz-form-item>
              <nz-form-label nzSpan="8">问题总数</nz-form-label>
              <nz-form-control nzSpan="16">44</nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="5">
            <nz-form-item>
              <nz-form-label nzSpan="8">未开始</nz-form-label>
              <nz-form-control nzSpan="16">23</nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="5">
            <nz-form-item>
              <nz-form-label nzSpan="8">已完成</nz-form-label>
              <nz-form-control nzSpan="16">43</nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="5">
            <nz-form-item>
              <nz-form-label nzSpan="8">整改中</nz-form-label>
              <nz-form-control nzSpan="16">32</nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="4">
            <nz-form-item>
              <nz-form-label nzSpan="8">已逾期</nz-form-label>
              <nz-form-control nzSpan="16">22</nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </ng-template>
    </nz-table>
  </div>
</div>
<issue-assign-form #issueAssignFormComponent></issue-assign-form>
