<as-split direction="vertical" unit="pixel" gutterSize="0" style="margin-left:10px;overflow-y:scroll;">
  <as-split-area [size]="'*'">
    <div nz-row style="display: flex;margin-bottom: 10px;margin-top: 10px;">
      <div
        nz-col
        *ngFor="let c of cards; let i = index"
        [nzSpan]="4"
        style="height: 70px;"
        [ngStyle]="{ 'padding-left': i === 0 ? '0px' : '15px' }"
      >
        <div
          nz-row
          nzType="flex"
          nzAlign="middle"
          style="height: 70px;padding-left: 15px;
            display: flex;
            justify-content: center;
            align-items: center;"
          [ngClass]="c.className"
        >
          <div nz-col nzSpan="4" class="text-black card-icon">
            <i nz-icon [nzType]="c.icon" class="h1"></i>
          </div>
          <div nz-col nzSpan="10" class="card-statistic">
            <b style="font-size: 20px;margin: auto;left:0;top:0;bottom:0;right:0;">{{ c.title }}</b>
          </div>
        </div>
      </div>
    </div>
    <div nz-row>
      <div nz-row nzJustify="space-between">
        <div nz-col nzSpan="16">
          <nz-card [nzTitle]="'整改台账信息'" style="margin-right: 10px;">
            <app-rectification-post-list [tableHeight]="'400px'"></app-rectification-post-list>
          </nz-card>
        </div>
        <div nz-col nzSpan="8">
          <nz-card [nzTitle]="'我的工作量统计'">
            <div
              id="option"
              class="chart"
              echarts
              [theme]="'macarons'"
              [options]="option1"
              (chartClick)="onChartClick($event)"
            ></div>
          </nz-card>
        </div>
      </div>
    </div>

    <div nz-row>
      <div nz-row nzJustify="space-between">
        <div nz-col nzSpan="16">
          <nz-card [nzTitle]="'我处理中的整改问题'" style="margin-right: 10px;">
            <app-rectify-track-list #rectifyTrackList [tableHeight]="'400px'"> </app-rectify-track-list>
          </nz-card>
        </div>
        <div nz-col nzSpan="8">
          <nz-card [nzTitle]="'我的待办'">
            <nz-table
              #basicTable
              [nzData]="msdData"
              [nzShowPagination]="false"
              [nzFrontPagination]="false"
              [nzScroll]="{ y: '100%' }"
              style="height: 400px;"
            >
              <thead></thead>
              <tbody>
                <tr *ngFor="let data of basicTable.data; let i = index">
                  <td [ngStyle]="{ 'background-color': i % 2 === 0 ? 'rgb(255, 244, 255)' : 'rgb(233, 255, 220)' }">
                    <span>{{ data.name }}</span>
                    <nz-badge [nzCount]="data.count" style="float: right;" *ngIf="i === 0"></nz-badge>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </nz-card>
        </div>
      </div>
    </div>
  </as-split-area>
</as-split>
