<div style="overflow:scroll;height: 100%;padding: 10px;" nz-col>
  <div nz-row>
    <div nz-col>
      <div nz-row>
        <div class="small-card-area">
          <div nz-row class="small-card">
            <div
              nz-col
              *ngFor="let c of cards; let i = index"
              [nzSpan]="4"
              style="height: 70px;"
              [ngStyle]="{ 'padding-left': i === 0 ? '0px' : '15px' }"
            >
              <div
                nz-row
                nzType="flex"
                nzAlign="middle"
                style="height: 70px;padding-left: 15px;
                  display: flex;
                  justify-content: center;
                  align-items: center;"
                [ngClass]="c.className"
              >
                <div nz-col nzSpan="4" class="text-black card-icon">
                  <i nz-icon [nzType]="c.icon" class="h1"></i>
                </div>
                <div nz-col nzSpan="10" class="card-statistic">
                  <b style="font-size: 20px;margin: auto;left:0;top:0;bottom:0;right:0;">{{ c.title }}</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="order-warp" style="margin-top: 20px;">
        <div class="order-status-view">
          <!--status start-->
          <div class="order-status lt-flexbox vertical">
            <div class="box-item" style="margin-right: 20px;">
              <nz-card style="width:450px;padding:0px" nzTitle="部门一历史整改情况" [nzBordered]="true">
                <div nz-row nzType="flex" nzJustify="space-between" nzAlign="bottom">
                  <div nz-col nzSpan="11">
                    <p>历史未整改问题:3</p>
                    <p>历史重复问题:4</p>
                    <p>历史最高频问题类型:类型一</p>
                  </div>
                  <div nz-col nzSpan="5" echarts [options]="option1" style="height: 160px; margin-top: -90px;"></div>

                  <div
                    nz-col
                    nzSpan="16"
                    style=" display: flex;
                  justify-content: center;
                  align-items: center;display: flex;
                  justify-content: center;
                  align-items: center;background-color:#E9EEF4;height: 50px;width:100%"
                  >
                    <a (click)="goDepartmentDraw()">部门问题画像</a>
                  </div>
                </div>
              </nz-card>
            </div>
            <div class="box-item" style="margin-right: 20px;">
              <nz-card style="width:450px;padding:0px" nzTitle="部门二历史整改情况" [nzBordered]="true">
                <div nz-row nzType="flex" nzJustify="space-between" nzAlign="bottom">
                  <div nz-col nzSpan="11">
                    <p>历史未整改问题:3</p>
                    <p>历史重复问题:4</p>
                    <p>历史最高频问题类型:类型一</p>
                  </div>
                  <div nz-col nzSpan="5" echarts [options]="option1" style="height: 160px; margin-top: -90px;"></div>

                  <div
                    nz-col
                    nzSpan="16"
                    style="display: flex;
                  justify-content: center;
                  align-items: center;background-color:#E9EEF4;height: 50px;width:100%"
                  >
                    <a (click)="goDepartmentDraw()">部门问题画像</a>
                  </div>
                </div>
              </nz-card>
            </div>
            <div class="box-item" style="margin-right: 20px;">
              <nz-card style="width:450px;padding:0px" nzTitle="部门三历史整改情况" [nzBordered]="true">
                <div nz-row nzType="flex" nzJustify="space-between" nzAlign="bottom">
                  <div nz-col nzSpan="11">
                    <p>历史未整改问题:3</p>
                    <p>历史重复问题:4</p>
                    <p>历史最高频问题类型:类型一</p>
                  </div>
                  <div nz-col nzSpan="5" echarts [options]="option1" style="height: 160px; margin-top: -90px;"></div>

                  <div
                    nz-col
                    nzSpan="16"
                    style="display: flex;
                  justify-content: center;
                  align-items: center;background-color:#E9EEF4;height: 50px;width:100%"
                  >
                    <a (click)="goDepartmentDraw()">部门问题画像</a>
                  </div>
                </div>
              </nz-card>
            </div>
            <div class="box-item" style="margin-right: 20px;">
              <nz-card style="width:450px;padding:0px" nzTitle="部门四历史整改情况" [nzBordered]="true">
                <div nz-row nzType="flex" nzJustify="space-between" nzAlign="bottom">
                  <div nz-col nzSpan="11">
                    <p>历史未整改问题:3</p>
                    <p>历史重复问题:4</p>
                    <p>历史最高频问题类型:类型一</p>
                  </div>
                  <div nz-col nzSpan="5" echarts [options]="option1" style="height: 160px; margin-top: -90px;"></div>

                  <div
                    nz-col
                    nzSpan="16"
                    style="display: flex;
                  justify-content: center;
                  align-items: center;background-color:#E9EEF4;height: 50px;width:100%"
                  >
                    <a (click)="goDepartmentDraw()">部门问题画像</a>
                  </div>
                </div>
              </nz-card>
            </div>
            <div class="box-item" style="margin-right: 20px;">
              <nz-card style="width:450px;padding:0px" nzTitle="部门五历史整改情况" [nzBordered]="true">
                <div nz-row nzType="flex" nzJustify="space-between" nzAlign="bottom">
                  <div nz-col nzSpan="11">
                    <p>历史未整改问题:3</p>
                    <p>历史重复问题:4</p>
                    <p>历史最高频问题类型:类型一</p>
                  </div>
                  <div nz-col nzSpan="5" echarts [options]="option1" style="height: 160px; margin-top: -90px;"></div>

                  <div
                    nz-col
                    nzSpan="16"
                    style="display: flex;
                  justify-content: center;
                  align-items: center;background-color:#E9EEF4;height: 50px;width:100%"
                  >
                    <a (click)="goDepartmentDraw()">部门问题画像</a>
                  </div>
                </div>
              </nz-card>
            </div>
            <div class="box-item" style="margin-right: 20px;">
              <nz-card style="width:450px;padding:0px" nzTitle="部门六历史整改情况">
                <div nz-row nzType="flex" nzJustify="space-between" nzAlign="bottom">
                  <div nz-col nzSpan="11">
                    <p>历史未整改问题:3</p>
                    <p>历史重复问题:4</p>
                    <p>历史最高频问题类型:类型一</p>
                  </div>
                  <div nz-col nzSpan="5" echarts [options]="option1" style="height: 160px; margin-top: -90px;"></div>

                  <div
                    nz-col
                    nzSpan="16"
                    style="display: flex;
                  justify-content: center;
                  align-items: center;background-color:#E9EEF4;height: 50px;width:100%"
                  >
                    <a (click)="goDepartmentDraw()">部门问题画像</a>
                  </div>
                </div>
              </nz-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div nz-row>
    <div nz-col>
      <div nz-row>
        <div nz-row nzJustify="space-between">
          <div nz-col nzSpan="17">
            <nz-card [nzTitle]="myHeader">
              <st
                style="height:350px"
                #st
                [scroll]="{ y: '240px' }"
                [page]="{ show: false, front: false }"
                [data]="users"
                [columns]="rectifyIssuecolumns"
              >
                <ng-template st-row="process">
                  <div nz-row nzJustify="space-between">
                    <div nzSpan="4" nz-col>
                      <p>89%</p>
                    </div>
                    <div nzSpan="20" nz-col>
                      <nz-progress [nzPercent]="89" [nzShowInfo]="false"></nz-progress>
                    </div>
                  </div>
                </ng-template>
              </st>
              <ng-template #myHeader>
                <div nz-row>
                  <h3 nz-col nzSpan="16">整改问题到期</h3>

                  <div nz-row nzSpan="8" nz-col>
                    <div nz-col nzSpan="6">
                      <label style="float: right;margin-top: 3px;">整改截止时间:&nbsp;</label>
                    </div>
                    <div nz-col nzSpan="16">
                      <nz-range-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>
                    </div>
                  </div>
                </div>
              </ng-template>
            </nz-card>
          </div>
          <div nz-col nzSpan="7" style="height:350px">
            <nz-card [nzTitle]="myTitle">
              <div nz-row nzJustify="space-between">
                <div nzSpan="6" nz-col>
                  <p style>已下发整改问题</p>
                </div>
                <div nzSpan="16" nz-col>
                  <nz-progress [nzPercent]="100"></nz-progress>
                </div>
              </div>
              <br />
              <div nz-row nzJustify="space-between">
                <div nzSpan="6" nz-col>
                  <p>已完成整改问题</p>
                </div>
                <div nzSpan="16" nz-col>
                  <nz-progress [nzPercent]="60"></nz-progress>
                </div>
              </div>
              <br />

              <div nz-row nzJustify="space-between">
                <div nzSpan="6" nz-col>
                  <p>已回复整改反馈</p>
                </div>
                <div nzSpan="16" nz-col>
                  <nz-progress [nzPercent]="55"></nz-progress>
                </div>
              </div>
              <br />
              <div nz-row nzJustify="space-between">
                <div nzSpan="6" nz-col>
                  <p>已完成整改报告</p>
                </div>
                <div nzSpan="16" nz-col>
                  <nz-progress [nzPercent]="67"></nz-progress>
                </div>
              </div>
              <br />
              <div nz-row nzJustify="space-between">
                <div nzSpan="6" nz-col>
                  <p>跟进中整改问题</p>
                </div>
                <div nzSpan="16" nz-col>
                  <nz-progress [nzPercent]="89"></nz-progress>
                </div>
              </div>
              <br />
              <br />
              <br />
              <br />
              <br />
              <ng-template #myTitle>
                <h3>我的工作量统计</h3>
              </ng-template>
            </nz-card>
          </div>
        </div>
      </div>
      <div nz-row style="height:300px">
        <div nz-row nzJustify="space-between">
          <div nz-col nzSpan="17">
            <nz-card [nzTitle]="myHeader">
              <st
                [scroll]="{ y: '240px' }"
                style="height:300px"
                #st
                [data]="users"
                [columns]="rectifyProcesscolumns"
                [page]="{ show: false, front: false }"
              >
                <ng-template st-row="operations" let-row let-index="index">
                  <a (click)="goWorkBeach()">进入工作台</a>
                </ng-template>
                <ng-template st-row="process">
                  <div nz-row nzJustify="space-between">
                    <div nzSpan="4" nz-col>
                      <p style="margin-top: 12px;">89%</p>
                    </div>
                    <div nzSpan="20" style="margin-top: 12px;" nz-col>
                      <nz-progress [nzPercent]="89" [nzShowInfo]="false"></nz-progress>
                    </div>
                  </div>
                </ng-template>
              </st>
              <ng-template #myHeader>
                <div nz-row>
                  <h3 nz-col nzSpan="16">我处理的整改问题</h3>
                </div>
              </ng-template>
            </nz-card>
          </div>
          <div nz-col nzSpan="7">
            <nz-card>
              <st
                style="height:300px"
                [scroll]="{ y: '240px' }"
                #st
                [data]="users"
                [columns]="Reminderscolumns"
                [page]="{ show: false, front: false }"
              >
                <ng-template st-row="remain" let-item>
                  <span>{{ item.name }}</span>
                  <nz-badge [nzCount]="109" style="float: right;"></nz-badge>
                </ng-template>
              </st>
            </nz-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
