<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'审计报告详情'" [nzMaskClosable]="false" (nzOnCancel)="handleCancel()"
  [nzFooter]="formFooter" [nzStyle]="{ top: '65px' }" nzWidth="1400" [nzBodyStyle]="{
    'overflow-y': 'auto',
    'overflow-x': 'hidden',
    padding: '24px'
  }">
  <form nz-form #auditPostForm="ngForm">
    <nz-form-item>
      <nz-form-label nzSpan="4" nzRequired>审计报告名称</nz-form-label>
      <nz-form-control nzSpan="8">
        <input nz-input name="name" [value]="'审计报告名称'" readonly />
      </nz-form-control>
      <nz-form-label nzSpan="4" nzRequired>审计单位名称</nz-form-label>
      <nz-form-control nzSpan="8">
        <input nz-input name="auditName" [value]="'审计单位名称'" readonly />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="4" nzRequired>审计时间</nz-form-label>
      <nz-form-control nzSpan="8">
        <input nz-input name="auditDateRange" [value]="'审计时间'" readonly />
      </nz-form-control>
      <nz-form-label nzSpan="4" nzRequired>报告来源</nz-form-label>
      <nz-form-control nzSpan="8">
        <input nz-input name="auditName" [value]="'报告来源'" readonly />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="4" nzRequired>被审计单位名称</nz-form-label>
      <nz-form-control nzSpan="8">
        <input nz-input name="reauditName" [value]="'被审计单位名称'" readonly />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="4">审计发现清单</nz-form-label>
      <nz-form-control nzSpan="20">
        <nz-table #columnTable nzBordered [nzData]="rectifyProblemList" style="padding-left: 0px !important;"
          [nzScroll]="{ y:'100%' }" [nzShowPagination]="false" [nzNoResult]="null" [nzSize]="'middle'"
          [ngStyle]="{ height: '300px' }">
          <thead>
            <tr>
              <th nzWidth="50px">序号</th>
              <th nzWidth="40%">问题名称</th>
              <th nzWidth="15%">问题类型</th>
              <th nzWidth="15%">整改部门</th>
              <th nzWidth="15%">整改责任人</th>
              <th nzWidth="15%" nzAlign="right">涉及金额(元)</th>
              <th nzWidth="80px" nzAlign="center">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of columnTable.data; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ data?.name }}</td>
              <td>{{ data?.type | dictTransform: 'PROBLEM_TYPE' | async }}</td>
              <td>{{ data?.rectifyDepartmentId }}</td>
              <td>{{ data?.dutyUserId }}</td>
              <td nzAlign="right">{{ data.money | currency: 'CNY':'symbol-narrow' }}</td>
              <td nzAlign="center">
                <a (click)="watchProblem()">查看</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #formFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="isVisableForProblem" nzTitle="整改问题清单详情" (nzOnCancel)="handleCancelForProblem()"
  nzWidth="1200px">
  <form nz-form #problemform="ngForm">
    <nz-form-item nz-row>
      <nz-form-label [nzSpan]="4" nzRequired>问题名称</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <input nz-input name="name" [value]="'问题名称'" readonly />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>问题类型</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <input nz-input name="name" [value]="'问题类型'" readonly />
      </nz-form-control>
      <nz-form-label [nzSpan]="4">涉及金额</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <input nz-input name="money" [value]="'涉及金额'" readonly />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-label [nzSpan]="4" nzRequired>整改部门</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <input nz-input name="name" [value]="'整改部门'" readonly />
      </nz-form-control>
      <nz-form-label [nzSpan]="4" nzRequired>整改负责人</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <input nz-input name="name" [value]="'整改负责人'" readonly />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>问题来源</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <input nz-input name="name" [value]="'问题来源'" readonly />
        <textarea [readOnly]="true" nz-input [value]="'问题来源'" rows="6"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>问题描述</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <textarea [readOnly]="true" nz-input [value]="'问题描述'" rows="6"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>整改建议</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <textarea [readOnly]="true" nz-input [value]="'整改建议'" rows="6"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
