<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'审计报告详情'" [nzMaskClosable]="false" (nzOnCancel)="handleCancel()"
  [nzFooter]="formFooter" [nzStyle]="{ top: '65px' }" nzWidth="70%" [nzBodyStyle]="{
    'overflow-y': 'auto',
    'overflow-x': 'hidden',
    padding: '10 20 10 20'
  }">
  <form nz-form #auditPostForm="ngForm">
    <nz-form-item>
      <nz-form-label nzSpan="4">审计报告名称</nz-form-label>
      <nz-form-control nzSpan="8">
        <input nz-input name="name" [value]="currentItem.name" readonly />
      </nz-form-control>
      <nz-form-label nzSpan="4">审计单位名称</nz-form-label>
      <nz-form-control nzSpan="8">
        <input nz-input name="auditName" [value]="currentItem.auditName" readonly />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="4">审计时间</nz-form-label>
      <nz-form-control nzSpan="8">
        <input nz-input name="auditTime" [value]="currentItem.auditTime" readonly />
      </nz-form-control>
      <nz-form-label nzSpan="4">报告来源</nz-form-label>
      <nz-form-control nzSpan="8">
        <input nz-input name="auditSource" [value]="currentItem.auditSource" readonly />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="4">被审计对象名称</nz-form-label>
      <nz-form-control nzSpan="8">
        <input nz-input name="auditTarget" [value]="currentItem.auditTarget" readonly />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzSpan="4">审计报告文件</nz-form-label>
      <nz-form-control nzSpan="20">
        <app-attach-list [show]="false" [TBHeight]="'150px'" [(attachFiles)]="currentItem.auditReportFile">
        </app-attach-list>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzSpan="4">项目相关资料</nz-form-label>
      <nz-form-control nzSpan="20">
        <app-attach-list [show]="false" [(attachFiles)]="currentItem.systemFiles"></app-attach-list>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #formFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
  </ng-template>
</nz-modal>
