<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'拆分问题详情'" [nzMaskClosable]="false" (nzOnCancel)="handleCancel()"
  [nzFooter]="formFooter" [nzStyle]="{ top: '65px' }" nzWidth="70%" [nzBodyStyle]="{
    'overflow-y': 'auto',
    'overflow-x': 'hidden',
    padding: '24px'
  }">
  <form nz-form #form="ngForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name" nzRequired>问题名称</nz-form-label>
      <nz-form-control [nzSpan]="20" [nzValidateStatus]="name.invalid && (name.dirty || name.touched) ? 'error' : ''">
        <input nz-input name="name" #name="ngModel" [(ngModel)]="currentItem.name" placeholder="问题名称" required
          [readonly]="isWatch" />
        <nz-form-explain *ngIf="name.invalid && (name.dirty || name.touched)">
          请填写问题名称
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>问题类型</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <input nz-input name="problemTypeName" [disabled]="isWatch" [(ngModel)]="problemTypeName" readonly/>
      </nz-form-control>

      <nz-form-label [nzSpan]="4" nzFor="sjje" nzRequired>涉及金额(元)</nz-form-label>
      <nz-form-control [nzSpan]="8" [nzValidateStatus]="sjje.invalid && (sjje.dirty || sjje.touched) ? 'error' : ''">
        <nz-input-number class="input-number" name="sjje" [nzMin]="0" [nzPrecision]="2" [(ngModel)]="currentItem.money"
          required #sjje="ngModel" [disabled]="isWatch"></nz-input-number>
        <nz-form-explain *ngIf="sjje.invalid && (sjje.dirty || sjje.touched)">
          请填写涉及金额
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="remark" nzRequired>问题描述</nz-form-label>
      <nz-form-control [nzSpan]="20"
        [nzValidateStatus]="remark.invalid && (remark.dirty || remark.touched) ? 'error' : ''">
        <textarea required rows="6" #remark="ngModel" nz-input name="remark" [(ngModel)]="currentItem.description"
          [readonly]="isWatch"></textarea>
        <nz-form-explain *ngIf="remark.invalid && (remark.dirty || remark.touched)">
          请填写问题描述
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="rectifyDepartmentId" nzRequired>整改负责人</nz-form-label>
      <nz-form-control [nzSpan]="8" [nzValidateStatus]="
          rectifyDepartmentId.invalid && (rectifyDepartmentId.dirty || rectifyDepartmentId.touched) ? 'error' : ''
        ">
        <nz-cascader [nzOptions]="organizationTree" [(ngModel)]="dutyUserIds" [disabled]="isWatch"
          #rectifyDepartmentId="ngModel" required name="rectifyDepartmentId" (nzSelectionChange)="dutyUserChange($event)">
        </nz-cascader>
        <nz-form-explain
          *ngIf="rectifyDepartmentId.invalid && (rectifyDepartmentId.dirty || rectifyDepartmentId.touched)">
          请选择整改负责人
        </nz-form-explain>
      </nz-form-control>

      <nz-form-label [nzSpan]="4" nzFor="zgjzsj">整改截止时间</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <nz-date-picker [nzFormat]="'yyyy-MM-dd'" name="zgjzsj" [(ngModel)]="currentItem.rectifyEndTime"
          [disabled]="isWatch">
        </nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="!isWatch">
      <nz-form-label nzSpan="4">引用建议模版</nz-form-label>
      <nz-form-control nzSpan="8">
        <app-advice-template-select #templateSelect [problemTypeId]="this.currentItem.rectifyProblemTypeId"
         (adviceTemplateChange)="adviceTemplateChange($event)">
        </app-advice-template-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="advice">审计建议</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <textarea rows="6" nz-input name="advice" [(ngModel)]="currentItem.advice" [readonly]="isWatch"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4">审计意见</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <textarea nz-input name="opinion" [(ngModel)]="currentItem.auditOpinion" rows="6"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #formFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button nz-button nzType="primary" [nzLoading]="loading" (click)="saveData()" *ngIf="!isWatch">
      确定
    </button>
  </ng-template>
</nz-modal>
