<nz-modal
  [(nzVisible)]="isVisible"
  [nzMaskClosable]="false"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="rectifyIssueSplitFooter"
  nzWidth="800"
  [nzTitle]="'问题拆分'"
  [nzBodyStyle]="{
    'height.px': '300px',
    'overflow-y': 'auto',
    'overflow-x': 'hidden',
    'padding-top': '0px',
    'padding-bottom': '0px'
  }"
>
  <form nz-form>
    <nz-form-item>
      <nz-form-label nzSpan="4">问题名称</nz-form-label>
      <nz-form-control nzSpan="8">
        <input nz-input name="proName" [(ngModel)]="data.proName" />
      </nz-form-control>
      <nz-form-label nzSpan="4">问题类型</nz-form-label>
      <nz-form-control nzSpan="8">
        <input nz-input name="proType" [(ngModel)]="data.proType" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="4">问题描述</nz-form-label>
      <nz-form-control nzSpan="20">
        <input nz-input name="proDes" [(ngModel)]="data.proDes" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="4">子问题</nz-form-label>
      <nz-form-control nzSpan="20">
        <nz-table
          #editRowTable
          nzBordered
          [nzData]="listOfData"
          [nzScroll]="{ x: '1300px', y: '240px' }"
          [nzShowPagination]="false"
        >
          <thead>
            <tr>
              <th nzWidth="30px" nzLeft="0px">序号</th>
              <th nzWidth="100px">子问题名称</th>
              <th nzWidth="100px">子问题描述</th>
              <th nzWidth="100px">子问题审计建议</th>
              <th nzWidth="100px">子问题类型</th>
              <th nzWidth="100px">子问题整改部门</th>
              <th nzWidth="100px">子问题整改负责人</th>
              <th nzWidth="60px" nzRight="0px" nzAlign="center">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of editRowTable.data; let number = index">
              <td nzLeft="0px">{{ data.key }}</td>
              <td>
                <ng-container *ngIf="!editCache[data.id].edit; else proNameInputTpl">
                  {{ data.proName }}
                </ng-container>
                <ng-template #proNameInputTpl>
                  <input name="proName" type="text" nz-input [(ngModel)]="editCache[data.id].data.proName" />
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="!editCache[data.id].edit; else proDesInputTpl">
                  {{ data.proDes }}
                </ng-container>
                <ng-template #proDesInputTpl>
                  <input name="proDes" type="text" nz-input [(ngModel)]="editCache[data.id].data.proDes" />
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="!editCache[data.id].edit; else proTypeInputTpl">
                  {{ data.proType }}
                </ng-container>
                <ng-template #proTypeInputTpl>
                  <input name="proType" type="text" nz-input [(ngModel)]="editCache[data.id].data.proType" />
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="!editCache[data.id].edit; else departmentInputTpl">
                  {{ data.department }}
                </ng-container>
                <ng-template #departmentInputTpl>
                  <input name="department" type="text" nz-input [(ngModel)]="editCache[data.id].data.department" />
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="!editCache[data.id].edit; else suggestInputTpl">
                  {{ data.suggest }}
                </ng-container>
                <ng-template #suggestInputTpl>
                  <input name="suggest" type="text" nz-input [(ngModel)]="editCache[data.id].data.suggest" />
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="!editCache[data.id].edit; else personInputTpl">
                  {{ data.person }}
                </ng-container>
                <ng-template #personInputTpl>
                  <input name="person" type="text" nz-input [(ngModel)]="editCache[data.id].data.person" />
                </ng-template>
              </td>
              <td nzRight="0px" nzAlign="center">
                <div class="editable-row-operations">
                  <ng-container *ngIf="!editCache[data.id].edit; else saveTpl">
                    <a (click)="startEdit(data.id)">编辑</a>
                  </ng-container>
                  <ng-template #saveTpl>
                    <a (click)="saveEdit(data.id)">保存</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-popconfirm nzTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
                  </ng-template>
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #rectifyIssueSplitFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button nz-button nzType="primary" (click)="handleAdd()">新增</button>
    <button nz-button nzType="primary" [nzLoading]="loading" (click)="save()">
      确定
    </button>
  </ng-template>
</nz-modal>
