<nz-table #expandTable [nzData]="listOfMapData" [nzScroll]="{y: '100%' }" [nzLoading]="loading"
  [nzTotal]="pageInfo.totalRecords" [nzPageSize]="pageInfo.pageSize" [nzPageIndex]="pageInfo.pageNo" [nzSize]="'small'"
  nzShowSizeChanger [nzShowTotal]="totalTemplate" (nzPageSizeChange)="pageSizeChange($event)"
  (nzPageIndexChange)="pageIndexChange($event)" [nzShowQuickJumper]="true" [nzFrontPagination]="false"
  [nzPageSizeOptions]="[20, 35, 50, 100]" nzBordered="true">
  <ng-template #totalTemplate let-total> 共 {{ pageInfo.totalRecords }} 条 </ng-template>
  <thead>
    <tr>
      <th nzWidth="50px" nzAlign="center"></th>
      <th nzWidth="100px" nzAlign="center">序号</th>
      <th nzWidth="8%" nzAlign="center">下发状态</th>
      <th nzWidth="8%" nzAlign="center">移交状态</th>
      <th nzWidth="12%">审计报告名称</th>
      <th nzWidth="12%">问题名称</th>
      <th nzWidth="10%">问题类型</th>
      <th nzWidth="10%">涉及金额(万元)</th>
      <th nzWidth="10%">整改单位</th>
      <th nzWidth="10%">整改部门</th>
      <th nzWidth="10%">整改负责人</th>
      <th nzWidth="10%">审计负责人</th>
      <th nzWidth="150px" nzAlign="center">操作</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of expandTable.data; let i=index">
      <ng-container *ngFor="let item of mapOfExpandedData[data.id]; let ci=index">
        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
          <td [nzShowCheckbox]="!item.children.length" [(nzChecked)]="mapOfCheckedId[item.id]"
            (nzCheckedChange)="checked(item,mapOfCheckedId[item.id])"></td>
          <td [nzIndentSize]="item.level * 20" [nzShowExpand]="!!(item.children && item.children.length > 0)"
            [(nzExpand)]="item.expand" (nzExpandChange)="collapse(mapOfExpandedData[data.id], item, $event)"
            *ngIf="item.level === 0">
            {{ item.level === 0?i+1:i+1 + '-' + ci }}
          </td>
          <td [nzIndentSize]="item.level * 20" *ngIf="item.level === 1">
            {{ item.level === 0?i+1:i+1 + '-' + ci }}
          </td>
          <td nzAlign="center">
            <nz-tag *ngIf="item.sendStatus === '未下发'" [nzColor]="'#A4A4A4'">未下发</nz-tag>
            <nz-tag *ngIf="item.sendStatus === '下发中'" [nzColor]="'#FFBF00'">下发中</nz-tag>
            <nz-tag *ngIf="item.sendStatus === '已下发'" [nzColor]="'#04B404'">已下发</nz-tag>
          </td>
          <td nzAlign="center">
            <nz-tag *ngIf="item.transferStatus === '未移交'" [nzColor]="'#A4A4A4'">未移交</nz-tag>
            <nz-tag *ngIf="item.transferStatus === '移交中'" [nzColor]="'#FFBF00'">移交中</nz-tag>
            <nz-tag *ngIf="item.transferStatus === '已移交'" [nzColor]="'#04B404'">已移交</nz-tag>
          </td>
          <td>{{ item?.auditPost?.name }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.type | dictTransform: 'PROBLEM_TYPE' | async }}</td>
          <td>{{ 123 | currency: 'CNY':'symbol-narrow' }}</td>
          <td>{{ item?.rectifyDepartment?.name }}</td>
          <td>整改单位</td>
          <td>{{ item?.dutyUser?.name }}</td>
          <td>审计负责人</td>
          <td>
            <ng-container *ngIf="item.level === 0">
              <button nz-button nzType="link" (click)="splitIssue(item)" style="padding: 0px;">拆分</button>
            </ng-container>
            <nz-divider nzType="vertical" *ngIf="item.level === 0 && item.children.length === 0"></nz-divider>
            <ng-container *ngIf="item.children.length === 0">
              <button nz-button nzType="link" (click)="order([item])" [disabled]="item.sendStatus !== '未下发'"
                style="padding: 0px;">下发</button>
              <nz-divider nzType="vertical"></nz-divider>
              <button nz-button nzType="link" (click)="transfer([item])" [disabled]="item.transferStatus !== '未移交'"
                style="padding: 0px;">移交</button>
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</nz-table>
<!-- 问题拆分 -->
<app-rectify-issue-split #rectifyIssueSplitComponent (notification)="load()"></app-rectify-issue-split>
<!-- 移交纪检 -->
<app-rectify-issue-transfer #rectifyIssueTransferComponent (notification)="load()"></app-rectify-issue-transfer>
<!-- 问题下发 -->
<app-rectify-issue-order #rectifyIssueOrderComponent (notification)="load()"></app-rectify-issue-order>
