<nz-modal [(nzVisible)]="isVisible" [nzMaskClosable]="false" (nzOnCancel)="handleCancel()" [nzFooter]="footer"
  [nzStyle]="{ top: '45px' }" nzWidth="90%" [nzBodyStyle]="{
    height: height ? height : '600px',
    'overflow-x': 'hidden',
    padding: '25px 25px 0 25px'
  }">
  <as-split direction="horizontal" unit="percent" [useTransition]="true" gutterSize="5"
    (dragEnd)="dragEnd($event.sizes)">
    <as-split-area [(size)]="leftSize" minSize="0" maxSize="50" style="background-color: white;">
      <as-split direction="vertical" unit="pixel" gutterSize="0">
        <as-split-area class="flex-fixed" [size]="40">
          <nz-divider></nz-divider>
          <div style="padding: 7px;">
            <span style="font-size: 18px;">问题详情</span>
          </div>
          <nz-divider></nz-divider>
        </as-split-area>
        <as-split-area [size]="'*'">
          <form nz-form style="padding: 10px;">
            <nz-form-item>
              <nz-form-label nzSpan="4">所属报告</nz-form-label>
              <nz-form-control nzSpan="20">
                <button nzTooltipTitle="点击查看报告详情" nzTooltipPlacement="bottom" nz-button nz-tooltip nzType="link"
                  style="padding: 0px;" (click)="watchAuditPost(problemItem?.auditReport?.id)">
                  {{ problemItem?.auditReport?.name }}
                </button>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzSpan="4">问题名称</nz-form-label>
              <nz-form-control nzSpan="20">
                <input nz-input name="name" readonly [value]="problemItem?.name" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzSpan="4">问题类型</nz-form-label>
              <nz-form-control nzSpan="20">
                <input nz-input name="type" [value]="problemItem?.rectifyProblemType?.name" readonly />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="4">问题类别</nz-form-label>
              <nz-form-control nzSpan="20">
                <nz-radio-group [(ngModel)]="problemItem.rectifyProblemCategory" name="rectifyProblemCategory"
                  nzDisabled>
                  <label nz-radio nzValue="AUDIT_OPINION">审计意见问题</label>
                  <label nz-radio nzValue="AUDIT_PROPOSAL">审计建议问题</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzSpan="4">涉及金额</nz-form-label>
              <nz-form-control nzSpan="20">
                <input nz-input name="money" readonly [value]="problemItem?.money" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzSpan="4">问题描述</nz-form-label>
              <nz-form-control nzSpan="20">
                <textarea nz-input name="remark" [value]="problemItem?.description" readonly rows="9"></textarea>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzSpan="4">审计建议</nz-form-label>
              <nz-form-control nzSpan="20">
                <textarea nz-input name="remark" [value]="problemItem?.advice" readonly rows="9"></textarea>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="4">审计意见</nz-form-label>
              <nz-form-control [nzSpan]="20">
                <textarea readOnly nz-input name="opinion" [value]="problemItem?.auditOpinion" rows="9"></textarea>
              </nz-form-control>
            </nz-form-item>
            <!-- <app-attach-list [show]="false" #attachListComponent [TBHeight]="'300px'"> </app-attach-list> -->
          </form>
        </as-split-area>
      </as-split>
    </as-split-area>
    <!--右侧编辑区-->
    <as-split-area [(size)]="rightSize" style="overflow: hidden">
      <as-split direction="vertical" unit="pixel" gutterSize="0">
        <as-split-area class="flex-fixed" [size]="40">
          <nz-divider></nz-divider>
          <button [nzTooltipTitle]="leftSize === 0 ? '显示问题详情' : '隐藏问题详情'" nzTooltipPlacement="bottom" nz-button
            nz-tooltip nzType="link" nzSize="large" (click)="fold()">
            <i nz-icon [nzType]="leftSize === 0 ? 'right-circle' : 'left-circle'" nzTheme="twotone"></i></button><span
            style="font-size: 18px;">问题信息补充与问题拆分</span>
          <nz-divider></nz-divider>
        </as-split-area>
        <as-split-area [size]="'*'">
          <form nz-form #form="ngForm" style="padding: 10px;">
            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="zgzzfzr" nzRequired>整改跟踪负责人</nz-form-label>
              <nz-form-control [nzSpan]="8"
                [nzValidateStatus]="zgzzfzr.invalid && (zgzzfzr.dirty || zgzzfzr.touched) ? 'error' : ''">
                <nz-select name="zgzzfzr" [(ngModel)]="currentItem.auditUserId" style="width: 100%;" nzShowSearch="true"
                  nzAllowClear="true" #zgzzfzr="ngModel" required [disabled]="isWatch">
                  <nz-option *ngFor="let option of dutyUserList" [nzLabel]="option.name" [nzValue]="option.id">
                  </nz-option>
                </nz-select>
                <nz-form-explain *ngIf="zgzzfzr.invalid && (zgzzfzr.dirty || zgzzfzr.touched)">
                  请选择整改跟踪负责人
                </nz-form-explain>
              </nz-form-control>

              <nz-form-label [nzSpan]="4" nzFor="rectifyDepartmentId" nzRequired>整改负责人</nz-form-label>
              <nz-form-control [nzSpan]="8" [nzValidateStatus]="
                  rectifyDepartmentId.invalid && (rectifyDepartmentId.dirty || rectifyDepartmentId.touched)
                    ? 'error'
                    : ''
                ">
                <nz-cascader [nzOptions]="organizationTree" [(ngModel)]="dutyUserIds" [disabled]="isWatch"
                  #rectifyDepartmentId="ngModel" required name="rectifyDepartmentId"
                  (nzSelectionChange)="dutyUserChange($event)">
                </nz-cascader>
                <nz-form-explain
                  *ngIf="rectifyDepartmentId.invalid && (rectifyDepartmentId.dirty || rectifyDepartmentId.touched)">
                  请选择整改负责人
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="zgjzsj">整改截止时间</nz-form-label>
              <nz-form-control [nzSpan]="8">
                <nz-date-picker [nzFormat]="'yyyy-MM-dd'" name="zgjzsj" [(ngModel)]="currentItem.rectifyEndTime"
                  [nzPlaceHolder]="''" [disabled]="isWatch">
                </nz-date-picker>
              </nz-form-control>

              <nz-form-label [nzSpan]="4" nzFor="sjje" nzRequired>涉及金额(元)</nz-form-label>
              <nz-form-control [nzSpan]="8"
                [nzValidateStatus]="sjje.invalid && (sjje.dirty || sjje.touched) ? 'error' : ''">
                <nz-input-number class="input-number" name="sjje" [nzMin]="0" [nzPrecision]="2"
                  [(ngModel)]="currentItem.money" required #sjje="ngModel" [disabled]="isWatch"></nz-input-number>
                <nz-form-explain *ngIf="sjje.invalid && (sjje.dirty || sjje.touched)">
                  请填写涉及金额
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzSpan="4" nzRequired>问题描述</nz-form-label>
              <nz-form-control nzSpan="20"
                [nzValidateStatus]="remark.invalid && (remark.dirty || remark.touched) ? 'error' : ''">
                <textarea nz-input name="remark" [(ngModel)]="currentItem.description" rows="5" required
                  [readOnly]="isWatch" #remark="ngModel"></textarea>
                <nz-form-explain *ngIf="remark.invalid && (remark.dirty || remark.touched)">
                  请填写问题描述
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="!isWatch">
              <nz-form-label nzSpan="4">引用建议模版</nz-form-label>
              <nz-form-control nzSpan="20">
                <nz-select nzAllowClear nzShowSearch nzPlaceHolder="请选择" style="width: 260px;" name="proposalTemplateId"
                  [(ngModel)]="currentItem.proposalTemplateId" (ngModelChange)="proposalTemplateChange($event)">
                  <nz-option *ngFor="let option of proposalTemplates" [nzLabel]="option.name" [nzValue]="option.id">
                  </nz-option>
                </nz-select>
                &nbsp;&nbsp;
                <nz-popconfirm [nzTitle]="confirmtittle" (nzOnConfirm)="confirmReference()" style="margin-top: -5px;">
                  <ng-template #confirmtittle>
                    引用模板建议会覆盖当前审计建议，确定要引用该模板吗？
                  </ng-template>
                  <button nz-button nzType="primary" nz-popconfirm
                    [disabled]="!currentItem.proposalTemplateId || isWatch">确认引用</button>
                </nz-popconfirm>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzSpan="4">审计建议</nz-form-label>
              <nz-form-control nzSpan="20">
                <textarea nz-input name="advice" [(ngModel)]="currentItem.advice" rows="5"
                  [readOnly]="isWatch"></textarea>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzSpan="4">审计意见</nz-form-label>
              <nz-form-control nzSpan="20">
                <textarea nz-input name="opinion" [(ngModel)]="currentItem.auditOpinion" rows="5"
                  [readOnly]="isWatch"></textarea>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-table #childrenTable nzBordered [nzData]="childrenProblemList" [nzScroll]="{ y: '100%' }"
                [nzShowPagination]="false" [nzNoResult]="null" [nzSize]="'middle'" style="padding-left: 0;"
                nzTitle="拆分问题列表">
                <thead>
                  <tr>
                    <th nzWidth="50px" nzAlign="center">序号</th>
                    <th nzWidth="30%">问题名称</th>
                    <th nzWidth="28%">问题类型</th>
                    <!-- <th nzWidth="20%">涉及金额(元)</th> -->
                    <th nzWidth="30%">整改对象</th>
                    <th nzWidth="22%">整改负责人</th>
                    <!-- <th nzWidth="15%">整改截止时间</th> -->
                    <th nzWidth="160px" nzAlign="center">
                      操作
                      <button nz-button nzType="primary" nzSize="small" (click)="addChildrenProblem()" *ngIf="!isWatch">
                        新增
                      </button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of childrenTable.data; let i = index">
                    <td nzAlign="center">{{ i + 1 }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ problemItem? problemItem.rectifyProblemType.name : null }}</td>
                    <!-- <td nzAlign="right">{{ data.money | currency: 'CNY':'symbol-narrow' }}</td> -->
                    <td>{{data.unitAndDepartment}}</td>
                    <td>{{data.dutyUserName}}</td>
                    <!-- <td>{{ formatDateFun(data?.rectifyEndTime) }}</td> -->
                    <td nzRight="0px" nzAlign="center">
                      <ng-container
                        *ngIf="!isWatch && data.sendStatus === 'NOT_ISSUED' && data.transferStatus === 'NOT_HANDED_OVER'">
                        <a (click)="startEdit(data)">编辑</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <nz-popconfirm [nzTitle]="title" (nzOnConfirm)="onDelete(data)">
                          <ng-template #title>确定删除该数据？</ng-template>
                          <a nz-popconfirm>删除</a>
                        </nz-popconfirm>
                        <nz-divider nzType="vertical"></nz-divider>
                      </ng-container>
                      <a (click)="watchChildrenProblem(data)">查看</a>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </nz-form-item>
          </form>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>

  <ng-template #footer>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button nz-button nzType="primary" [nzLoading]="loading" (click)="save()" *ngIf="!isWatch">
      确定
    </button>
  </ng-template>
</nz-modal>

<!--子问题详情组件 -->
<app-rectify-child-issue-detail #rectifyChildIssueDetailComponent [problemItem]="problemItem"
  (dataChange)="getChildrenProblem($event)">
</app-rectify-child-issue-detail>

<!-- 审计报告查看组件 -->
<app-audit-post-watch #auditPostWatchComponent></app-audit-post-watch>
