<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'问题下发'" [nzMaskClosable]="false" (nzOnCancel)="handleCancel()"
  [nzFooter]="rectifyIssueOrderFooter" [nzStyle]="{ top: '65px' }" nzWidth="900" [nzBodyStyle]="{
    'min-height': '300px',
    'overflow-x': 'hidden',
    padding: '24px 24px 0 24px'
  }">
  <form nz-form>
    <nz-form-item>
      <nz-form-label nzSpan="3">发送对象</nz-form-label>
      <nz-form-control nzSpan="21">
        <nz-table #basicTable [nzData]="listOfData" [nzShowPagination]="false" nzBordered="true"
          [nzScroll]="{ y: '100%' }">
          <thead>
            <tr>
              <th nzWidth="50px" nzAlign="center">序号</th>
              <th nzWidth="35%">审计报告</th>
              <th nzWidth="30%">问题名称</th>
              <th nzWidth="20%">整改对象</th>
              <th nzWidth="15%">整改负责人</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data; let number = index">
              <td nzAlign="center">{{ number + 1 }}</td>
              <td>{{ data?.auditReportName}}</td>
              <td>{{ data.name}}</td>
              <td>{{ data.unitAndDepartment}}</td>
              <td>{{ data.dutyUser }}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzSpan="3">OA发文模板</nz-form-label>
      <nz-form-control nzSpan="21">
        <nz-select nzAllowClear nzShowSearch nzPlaceHolder="请选择" style="width: 260px;" name="proposalTemplateId"
          [(ngModel)]="proposalTemplateId" (ngModelChange)="proposalTemplateChange($event)">
          <nz-option *ngFor="let option of proposalTemplates" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
        </nz-select>
        &nbsp;&nbsp;
        <nz-popconfirm [nzTitle]="confirmtittle" (nzOnConfirm)="confirmReference()" style="margin-top: -5px;">
          <ng-template #confirmtittle>
            引用模板建议会覆盖当前模板内容，确定要引用该模板吗？
          </ng-template>
          <button nz-button nzType="primary" nz-popconfirm
            [disabled]="!proposalTemplateId">确认引用</button>
        </nz-popconfirm>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="content">模板内容</nz-form-label>
      <nz-form-control [nzSpan]="21">
        <textarea rows="5" nz-input name="content" [(ngModel)]="content"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #rectifyIssueOrderFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button nz-button nzType="primary" [nzLoading]="loading" (click)="save()">
      发送
    </button>
  </ng-template>
</nz-modal>
