<div nz-col style="height:100%;">
  <as-split direction="vertical" unit="pixel" gutterSize="0">
    <as-split-area class="flex-fixed" [size]="60">
      <div sg-container="5">
        <sg style="width:20%">
          <nz-card nzTitle="累计处理问题" [nzExtra]="action">
            <div nz-col>
              <div nz-row>
                <h1>560</h1>
              </div>
              <div nz-row nzJustify="space-between">
                <div nz-col nzSpan="6">年同比</div>
                <div nz-col nzSpan="6">
                  <i nz-icon [nzType]="'caret-up'" style="font-size: 16px; color: rgb(26, 241, 80);"></i>

                  &nbsp;10%
                </div>
                <div nz-col nzSpan="6">月环比</div>
                <div nz-col nzSpan="6">
                  <i nz-icon [nzType]="'caret-up'" style="font-size: 16px; color: rgb(26, 241, 80);"></i>

                  &nbsp;10%
                </div>
              </div>
            </div>
          </nz-card>
          <ng-template #action>
            <i nz-tooltip nzTooltipTitle="" nz-icon nzType="info-circle"></i>
          </ng-template>
        </sg>
        <sg style="width:20%">
          <nz-card nzTitle="累计发函问题统计" [nzExtra]="action">
            <div nz-col>
              <div nz-row>
                <h1>846</h1>
              </div>
              <div nz-row>
                <div echarts [options]="option" style="height: 110px; margin-top: -90px;"></div>
              </div>
            </div>
          </nz-card>
        </sg>
        <sg style="width:20%">
          <nz-card nzTitle="累计处分问题统计" [nzExtra]="action">
            <div nz-col>
              <div nz-row>
                <h1>29</h1>
              </div>
              <div nz-row>
                <div echarts [options]="option1" style="height: 107px; margin-top: -90px;">
                </div>
              </div>
            </div>
          </nz-card>
        </sg>
        <sg style="width:20%">
          <nz-card nzTitle="已处理率" [nzExtra]="action">
            <div nz-col>
              <div nz-row='2'>
                <div nz-col nzSpan="16">
                  <h1>78%</h1>
                </div>
                <div nz-col nzSpan="8">
                  <nz-progress [nzPercent]="75" nzType="circle" [nzWidth]="60" [nzShowInfo]="false"
                    [nzStrokeWidth]='15'>
                  </nz-progress>
                </div>
              </div>
              <div nz-row></div>
            </div>
          </nz-card>
        </sg>
        <sg style="width:20%">
          <nz-card nzTitle="发函高频部门" [nzExtra]="action">
            <div nz-col>
              <div nz-row>
                <h1>部门一 1,234</h1>
              </div>
              <div nz-row nzJustify="space-between" style="margin-top: -3px;">
                <div nz-col nzSpan="6">年同比</div>
                <div nz-col nzSpan="6">
                  <i nz-icon [nzType]="'caret-up'" style="font-size: 16px; color: rgb(26, 241, 80);"></i>
                  &nbsp;10%
                </div>
                <div nz-col nzSpan="6">月环比</div>
                <div nz-col nzSpan="6">
                  <i nz-icon [nzType]="'caret-up'" style="font-size: 16px; color: rgb(26, 241, 80);"></i>
                  &nbsp;10%
                </div>
              </div>
            </div>
          </nz-card>
          <ng-template #action>
            <i nz-tooltip nzTooltipTitle="" nz-icon nzType="info-circle"></i>
          </ng-template>
        </sg>
      </div>
    </as-split-area>

    <as-split-area [size]="'*'">
      <as-split direction="vertical" unit="pixel" gutterSize="0">
        <as-split-area class="flex-fixed" [size]="10">
          <div nz-row nzJustify="space-between">
            <div nz-col nzSpan="5">
              <nz-form-item>
                <nz-form-label nzSpan="8">整改问题</nz-form-label>
                <nz-form-control nzSpan="16"><input nz-input /></nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="5">
              <nz-form-item>
                <nz-form-label nzSpan="8">时间</nz-form-label>
                <nz-form-control nzSpan="16">
                  <nz-range-picker></nz-range-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="5">
              <nz-form-item>
                <nz-form-label nzSpan="8">状态</nz-form-label>
                <nz-form-control nzSpan="16">
                  <nz-select style="width:200px" nzAllowClear>
                    <nz-option nzValue="已处理" nzLabel="已处理"></nz-option>
                    <nz-option nzValue="未处理" nzLabel="未处理"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="5">
              <nz-form-item>
                <nz-form-label nzSpan="8">整改部门</nz-form-label>
                <nz-form-control nzSpan="16">
                  <nz-select style="width:200px" nzAllowClear>
                    <nz-option nzValue="部门一" nzLabel="部门一"></nz-option>
                    <nz-option nzValue="部门二" nzLabel="部门二"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="4">
              <div style="float:right;margin-right:10px">
                <button nz-button nzType="primary"><i nz-icon nzType="search" nzTheme="outline"></i>搜索</button>
                <button nz-button nzType="default"><i nz-icon nzType="redo" nzTheme="outline"></i>重置</button>
                <button nz-button nzType="default"><i nz-icon nzType="sync" nzTheme="outline"></i>刷新</button>
              </div>
            </div>
          </div>
        </as-split-area>
        <as-split-area [size]="'*'">
          <div nz-row style="background-color: white; height: 100%;">
            <nz-table [nzTitle]="header" #expandTable [nzData]="listOfMapData" style="height:100%;">
              <thead>
                <tr>
                  <th nzWidth="80px" nzAlign="center">序号</th>
                  <th nzWidth="5%" nzAlign="center">状态</th>
                  <th nzWidth="15%" nzAlign="center">问题来源</th>
                  <th nzWidth="15%" nzAlign="center">问题名称</th>
                  <th nzWidth="10%" nzAlign="center">问题类型</th>
                  <th nzWidth="10%" nzAlign="center">整改部门</th>
                  <th nzWidth="10%" nzAlign="center">整改负责人</th>
                  <th nzWidth="100px" nzAlign="center">移交时间</th>
                  <th nzWidth="10%" nzAlign="center">移交原因</th>
                  <th nzWidth="100px" nzRight="0">问题处理</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of expandTable.data ; let i=index">
                  <ng-container *ngFor="let item of mapOfExpandedData[data.key] ; let ci=index">
                    <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
                      <td [nzIndentSize]="item.level * 20" [nzShowExpand]="!!item.children" [(nzExpand)]="item.expand"
                        (nzExpandChange)="collapse(mapOfExpandedData[data.key], item, $event)" nzAlign="center">
                        {{ item.level === 0?i+1:i+1 + '-' + ci }}
                      </td>
                      <td nzAlign="center">{{ item.age }}</td>
                      <td nzAlign="center">{{ item.address }}</td>
                      <td nzAlign="center">{{ item.age }}</td>
                      <td nzAlign="center">{{ item.age }}</td>
                      <td nzAlign="center">{{ item.age }}</td>
                      <td nzAlign="center">{{ item.age }}</td>
                      <td nzAlign="center">{{ item.age }}</td>
                      <td nzAlign="center">{{ item.age }}</td>
                      <td nzRight="0">
                        <a (click)="process()">处理</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a (click)="show()">查看</a>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
              <ng-template #header>
                <div nz-row nzJustify="space-between">
                  <div nz-col nzSpan="2">
                    <nz-form-item>
                      <nz-form-label nzSpan="18">问题总数</nz-form-label>
                      <nz-form-control nzSpan="6">44</nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="2">
                    <nz-form-item>
                      <nz-form-label nzSpan="18">已处理</nz-form-label>
                      <nz-form-control nzSpan="6">23</nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="2">
                    <nz-form-item>
                      <nz-form-label nzSpan="18">未处理</nz-form-label>
                      <nz-form-control nzSpan="6">21</nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="18"></div>
                </div>
              </ng-template>
            </nz-table>
          </div>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</div>
<supervise-process-form #superviseProcessFormComponent></supervise-process-form>