<div nz-col style="height:100%;padding: 10px;">
  <as-split direction="horizontal" unit="percent" gutterSize="0">
    <as-split-area [size]="75">
      <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
        <nz-tab [nzTitle]="'我的代办'">
          <supervise-wait-tab></supervise-wait-tab>
        </nz-tab>
        <nz-tab [nzTitle]="'我的已办'">
          <supervise-finish-tab></supervise-finish-tab>
        </nz-tab>
      </nz-tabset>
    </as-split-area>
    <as-split-area class="flex-fixed" [size]="25" class="chart-area" style="margin-left: 10px;">
      <as-split direction="vertical" unit="pixel" gutterSize="0">
        <as-split-area class="flex-fixed" [size]="80">
          <!-- <div echarts [options]="option" ></div> -->
          <nz-card nzTitle="问题统计">
            <div nz-row>
              <h4 style="font-weight:500;font-size:16px;font-style:normal">问题总数：20</h4>
            </div>
            <div nz-row>
              <div nz-col nzSpan="8">
                <p style="font-weight:500;font-size:16px;font-style:normal">已办问题数：
                </p>
              </div>
              <div nz-col nzSpan="16">
                <nz-progress [nzPercent]="25" nz-tooltip nzTitle="25%" [nzFormat]="format1">
                </nz-progress>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="8">
                <p style="font-weight:500;font-size:16px;font-style:normal">待办问题数：
                </p>
              </div>
              <div nz-col nzSpan="16">
                <nz-progress [nzPercent]="50" nz-tooltip nzTitle="50%" [nzFormat]="format2">
                </nz-progress>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="8">
                <p style="font-weight:500;font-size:16px;font-style:normal">已发函问题数：
                </p>
              </div>
              <div nz-col nzSpan="16">
                <nz-progress [nzPercent]="25" nz-tooltip nzTitle="25%" [nzFormat]="format3">
                </nz-progress>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="8">
                <p style="font-weight:500;font-size:16px;font-style:normal">已处分问题数：
                </p>
              </div>
              <div nz-col nzSpan="16">
                <nz-progress [nzPercent]="10" nz-tooltip nzTitle="10%" [nzFormat]="format4">
                </nz-progress>
              </div>
            </div>
          </nz-card>
        </as-split-area>
        <as-split-area [size]="'*'" style=" background-color: white;">
          <as-split direction="vertical" unit="pixel" gutterSize="0">
            <as-split-area class="flex-fixed" [size]="40">
              <div style="font-size: 18px; margin: 5px; ">消息通知</div>
              <nz-divider></nz-divider>
            </as-split-area>
            <as-split-area [size]="'*'">
              <div style="height:100%">
                <nz-table #basicTable [nzData]="messages" [nzShowPagination]="false" [nzFrontPagination]="false"
                  [nzScroll]="{y: '100%'}">
                  <thead></thead>
                  <tbody>
                    <tr *ngFor="let data of basicTable.data; let i = index">
                      <td [ngStyle]="{ 'background-color': i % 2 === 0 ? 'rgb(255, 244, 255)' : 'rgb(233, 255, 220)' }">
                        <span>{{ data.name }}</span>
                        <nz-badge [nzCount]="10" style="float: right;"></nz-badge>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </as-split-area>
          </as-split>

          <!-- <st #todoSt [data]="messages" nzSize="middle" [scroll]="{ y: '100%'}" [bordered]="true"
            [columns]="Reminderscolumns" [rowClickTime]="500" [noResult]="null" [page]="page">
            <ng-template st-row="name" let-row let-index="index">
              <span>{{ row.name }}</span>
              <nz-badge style="cursor:pointer;float: right;" [nzCount]="row.count"></nz-badge>
            </ng-template>
          </st> -->
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</div>