<st #st [data]="tableData" nzSize="middle" [multiSort]="tableParameter.multiSort" [req]="tableParameter.req"
  [scroll]="{ y: '100%' }" [bordered]="true" [res]="tableParameter.res" [total]="tableParameter.page.total"
  [size]="tableParameter.size" [pi]="tableParameter.pi" [ps]="tableParameter.ps" [columns]="columns"
  [rowClickTime]="500" [page]="tableParameter.page" [noResult]="null">
  <ng-template st-row="number" let-row let-index="index">
    {{ ((st.pi ? st.pi : 1) - 1) * (st.ps ? st.ps : 0) + (index + 1) }}
  </ng-template>
  <ng-template st-row="operations" let-row let-index="index">
    <a (click)="showModel(row.id,true)">编辑</a>
    <nz-divider nzType="vertical"></nz-divider>
    <a (click)="showModel(row.id,false)">查看</a>
    <nz-divider nzType="vertical"></nz-divider>
    <nz-popconfirm [nzTitle]="confirmtittle">
      <ng-template #confirmtittle>是否要删除该条数据</ng-template>
      <a nz-popconfirm (click)="delete(row.id)">删除</a>
    </nz-popconfirm>
  </ng-template>
</st>
<oa-template-detail #oaTemplateDetailComponent></oa-template-detail>