<as-split direction="vertical" unit="pixel" gutterSize="0">
  <as-split-area class="flex-fixed" [size]="40">
    <div class="app-toor-bar" style="padding-top: 10px;">
      <!-- 搜索栏 -->
      <form #searchForm="ngForm" nz-form class="matech-search-form">
        <div nz-row [nzGutter]="24" nzType="flex" nzJustify="space-around" nzAlign="middle" class="search-row">
          <div nz-col [nzSpan]="21">
            <div nz-col [nzSpan]="8">
              <nz-form-item>
                <nz-form-label nzSpan="9">报告名称</nz-form-label>
                <nz-form-control nzSpan="15">
                  <input nz-input name="reportName" [(ngModel)]="filter.reportName" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
              <nz-form-item>
                <nz-form-label nzSpan="9">审计时间</nz-form-label>
                <nz-form-control nzSpan="15">
                  <nz-range-picker name="auditDateRange" [(ngModel)]="auditDateRange"
                    (ngModelChange)="selectDateRange($event)"></nz-range-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
              <nz-form-item>
                <nz-form-label nzSpan="9">问题类型</nz-form-label>
                <nz-form-control nzSpan="15">
                  <nz-tree-select style="width: 100%;" [nzDefaultExpandAll]="'true'" [nzNodes]="problemTypeNodes"
                    name="rectifyProblemId" nzShowSearch [(ngModel)]="filter.rectifyProblemId">
                  </nz-tree-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="3">
            <div nz-col [nzSpan]="10">
              <button nz-button nzType="link" (click)="toggleCollapse()">
                更多<i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
              </button>
            </div>
            <div nz-col [nzSpan]="14">
              <button nz-button nzType="primary" style="margin-top: 3px;" (click)="search()">
                <i nz-icon type="search" theme="outline"></i>查找
              </button>
            </div>
          </div>
        </div>
        <div nz-row [nzGutter]="24" nzType="flex" nzJustify="space-around" nzAlign="middle" class="search-row"
          *ngIf="showAllCond">
          <div nz-col [nzSpan]="21">
            <div nz-col [nzSpan]="8">
              <nz-form-item>
                <nz-form-label nzSpan="9">问题名称</nz-form-label>
                <nz-form-control nzSpan="15">
                  <input nz-input name="rectifyProblemName" [(ngModel)]="filter.rectifyProblemName" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
              <nz-form-item>
                <nz-form-label nzSpan="9">整改部门阅读状态</nz-form-label>
                <nz-form-control nzSpan="15">
                  <nz-select name="isAllot" [(ngModel)]="filter.isAllot" style="width: 100%;" nzAllowClear="true"
                    nzShowSearch="true">
                    <nz-option nzLabel="已读" nzValue="true"></nz-option>
                    <nz-option nzLabel="未读" nzValue="false"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
              <nz-form-item>
                <nz-form-label nzSpan="9">纪检部门阅读状态</nz-form-label>
                <nz-form-control nzSpan="15">
                  <nz-select name="isAllot" [(ngModel)]="filter.isAllot" style="width: 100%;" nzAllowClear="true"
                    nzShowSearch="true">
                    <nz-option nzLabel="已读" nzValue="true"></nz-option>
                    <nz-option nzLabel="未读" nzValue="false"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="3">
            <div nz-col [nzSpan]="10"></div>
            <div nz-col [nzSpan]="14">
              <button nz-button (click)="clear()">
                <i nz-icon nzType="reload" nzTheme="outline"></i>
                重置
              </button>
            </div>
          </div>
        </div>
        <div nz-row [nzGutter]="24" nzType="flex" nzJustify="space-around" nzAlign="middle" class="search-row"
          *ngIf="showAllCond">
          <div nz-col [nzSpan]="21">
            <div nz-col [nzSpan]="8">
              <nz-form-item>
                <nz-form-label nzSpan="9">移交状态</nz-form-label>
                <nz-form-control nzSpan="15">
                  <nz-select name="transferStatus" [(ngModel)]="filter.transferStatus" style="width: 100%;"
                    nzAllowClear="true" nzShowSearch="true">
                    <nz-option nzLabel="未移交" nzValue="NOT_HANDED_OVER"></nz-option>
                    <nz-option nzLabel="移交中" nzValue="HANDING_OVER"></nz-option>
                    <nz-option nzLabel="已移交" nzValue="HANDED_OVER"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
              <nz-form-item>
                <nz-form-label nzSpan="9">整改对象</nz-form-label>
                <nz-form-control nzSpan="15">
                  <input nz-input name="rectifyObject" [(ngModel)]="filter.rectifyObject" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
              <nz-form-item>
                <nz-form-label nzSpan="9">整改负责人</nz-form-label>
                <nz-form-control nzSpan="15">
                  <input nz-input name="dutyUserName" [(ngModel)]="filter.dutyUserName" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="3">
          </div>
        </div>
      </form>
    </div>
  </as-split-area>
  <as-split-area [size]="'*'">
    <app-rectify-track-list #rectifyTrackListComponent [filter]="filter"></app-rectify-track-list>
  </as-split-area>
</as-split>
