<nz-table
  #expandTable
  [nzData]="listOfMapData"
  [nzScroll]="{ x: '2000px', y: '100%' }"
  [nzLoading]="loading"
  [nzTotal]="pageInfo.totalRecords"
  [nzPageSize]="pageInfo.pageSize"
  [nzPageIndex]="pageInfo.pageNo"
  [nzSize]="'small'"
  nzShowSizeChanger
  [nzShowTotal]="totalTemplate"
  (nzPageSizeChange)="pageSizeChange($event)"
  (nzPageIndexChange)="pageIndexChange($event)"
  [nzShowQuickJumper]="true"
  [nzFrontPagination]="false"
  [nzPageSizeOptions]="[20, 35, 50, 100]"
  nzBordered="true"
  [nzTitle]="title"
  [ngStyle]="{ height: tableHeight }"
>
  <ng-template #totalTemplate let-total> 共 {{ pageInfo.totalRecords }} 条 </ng-template>
  <thead>
    <tr>
      <th nzWidth="100px" nzLeft="0px" nzAlign="center">序号</th>
      <th nzWidth="100px" nzAlign="center">下发状态</th>
      <th nzWidth="100px" nzAlign="center">移交状态</th>
      <th nzWidth="150px">审计报告名称</th>
      <th nzWidth="200px">问题名称</th>
      <th nzWidth="150px">问题类型</th>
      <th nzWidth="150px" nzAlign="right">涉及金额(元)</th>
      <th nzWidth="200px">整改反馈进度</th>
      <th nzWidth="150px">整改对象</th>
      <th nzWidth="150px">整改负责人</th>
      <th nzWidth="150px">整改跟踪负责人</th>
      <th nzWidth="150px" nzAlign="right">已完成整改措施数</th>
      <th nzWidth="150px">整改截止时间</th>
      <th nzWidth="150px">整改拟完成时间</th>
      <th nzWidth="150px">最近一次反馈时间</th>
      <th nzWidth="150px">下一次反馈时间</th>
      <th nzWidth="150px">整改部门已读时间</th>
      <th nzWidth="150px">纪检部门已读时间</th>
      <th nzWidth="200px" nzAlign="center" nzRight="0px">操作</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of expandTable.data; let i = index">
      <ng-container *ngFor="let item of mapOfExpandedData[data.id]; let ci = index">
        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
          <td
            [nzIndentSize]="item.level * 20"
            [nzShowExpand]="!!(item.children && item.children.length > 0)"
            [(nzExpand)]="item.expand"
            (nzExpandChange)="collapse(mapOfExpandedData[data.id], item, $event)"
            *ngIf="item.level === 0"
            nzLeft="0px"
          >
            {{ item.level === 0 ? i + 1 : i + 1 + '-' + ci }}
          </td>
          <td [nzIndentSize]="item.level * 20" *ngIf="item.level === 1" nzLeft="0px">
            {{ item.level === 0 ? i + 1 : i + 1 + '-' + ci }}
          </td>
          <td nzAlign="center">
            <nz-tag *ngIf="item.sendStatus === '未下发'" [nzColor]="'#A4A4A4'">未下发</nz-tag>
            <nz-tag *ngIf="item.sendStatus === '下发中'" [nzColor]="'#FFBF00'">下发中</nz-tag>
            <nz-tag *ngIf="item.sendStatus === '已下发'" [nzColor]="'#04B404'">已下发</nz-tag>
          </td>
          <td nzAlign="center">
            <nz-tag *ngIf="item.transferStatus === '未移交'" [nzColor]="'#A4A4A4'">未移交</nz-tag>
            <nz-tag *ngIf="item.transferStatus === '移交中'" [nzColor]="'#FFBF00'">移交中</nz-tag>
            <nz-tag *ngIf="item.transferStatus === '已移交'" [nzColor]="'#04B404'">已移交</nz-tag>
          </td>
          <td>{{ item?.auditPost?.name }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.type | dictTransform: 'PROBLEM_TYPE' | async }}</td>
          <td nzAlign="right">{{ 123 | currency: 'CNY':'symbol-narrow' }}</td>
          <td>
            <nz-progress [nzPercent]="item.rectifyPassPercent"></nz-progress>
          </td>
          <td>整改对象</td>
          <td>{{ item?.dutyUser?.name }}</td>
          <td>整改跟踪负责人</td>
          <td nzAlign="right">{{ item.rectifyCount }}</td>
          <td nzAlign="center">{{ item.rectifyEndTime }}</td>
          <td nzAlign="center">{{ item.lastModifiedTime }}</td>
          <td nzAlign="center">{{ item.latelyFeedbackTime }}</td>
          <td nzAlign="center">{{ item.nextFeedbackTime }}</td>
          <td nzAlign="center">{{ item.rectifyDepartmentAlread }}</td>
          <td nzAlign="center">{{ item.superviseDepartmentAlread }}</td>
          <td nzRight="0px">
            <button nz-button nzType="link" (click)="goWorkBeach(item.id)" style="padding: 0;">进入工作台</button>
            <nz-divider nzType="vertical"></nz-divider>
            <button
              nz-button
              nzType="link"
              (click)="transfer(item, true)"
              style="padding: 0;"
              *ngIf="item.transferStatus === '已移交'"
            >
              移交结果查看
            </button>
            <button
              style="padding: 0px;"
              nz-button
              nzType="link"
              *ngIf="item.transferStatus === '未移交'"
              (click)="transfer(item, false)"
            >
              移交
            </button>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</nz-table>

<!-- 移交纪检 -->
<app-rectify-issue-transfer #rectifyIssueTransferComponent></app-rectify-issue-transfer>
